description = "Default layout"
==
<!DOCTYPE html>
<html class="no-js" lang="pl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>October CMS - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="generator" content="OctoberCMS">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
        <!-- Zamienic na google web font loader -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
        <link href="{{ 'assets/css/app.css'|theme }}" rel="stylesheet">
    </head>

    <body>

        <!-- Header -->
    
        <!-- Svg icon sprite -->
        {% partial 'global/icons' %}
        <div class="off-canvas-wrapper">

            <!-- Off-canvas panels -->
            {% partial 'off-canvas-menu' %}
            {% partial 'off-canvas-contact' %}
            {% partial 'off-canvas-language' %}
            
            <div class="off-canvas-content" data-off-canvas-content>

                <!-- Page content -->
                {% page %}
                <!-- Contact callout -->
                {% partial 'contact-callout' %}
                <!-- Footer -->
                {% partial 'global/footer' %}

            </div>

        </div>

        <!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.0/js/swiper.min.js"></script>
        <script src="{{ 'assets/js/app.js'|theme }}"></script>

    </body>
</html>
