title = "Page not found (404)"
url = "/404"
layout = "default"
==
<div class="jumbotron">
    <div class="container">
        <h1>Strony nie znaleziono</h1>
        <p>Przepraszamy, strona której szukasz nie istnieje.</p>
    </div>
</div>