title = "Error page (500)"
url = "/error"
layout = "default"
==
<div class="jumbotron">
    <div class="container">
        <h1>Błąd 500</h1>
        <p>Przepraszamy, coś poszło bardzo nie tak</p>
    </div>
</div>