title = "O-nas"
url = "/o-nas"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==

<div class="grid-container full main-header">

        <!-- Title bar only on "small" screens -->
        {# {{> title-bar}} #}

        <div class="top-nav show-for-large">
    
            <div class="grid-container">
                <div class="grid-x grid-margin-x">
                    <div class="cell">
    
                        <!-- Info bar -->
                        {# {{'{{> top-nav-info-bar}}'|theme }} #}
    
                        <!-- Main navigation -->
                        <div class="main-nav show-for-large">
                            <div class="main-nav__logo">
                                <a href="/" class="main-nav__logo-link">
                                    <img src="assets/img/vidi-group-logo-header.png" srcset="assets/img/vidi-group-logo-header.png 1x,
                                                                                 assets/img/vidi-group-logo-header@2x.png 2x,
                                                                                 assets/img/vidi-group-logo-header@3x.png 3x" class="main-nav__logo-img"
                                        alt="Vidi Group logotyp">
                                </a>
                            </div>
                            <div class="main-nav__menu">
                                <ul class="dropdown menu" data-dropdown-menu>
                                    <li><a href="/">Strona główna</a></li>
                                    <li class="is-dropdown-submenu-parent">
                                        <a href="/#">Usługi</a>
                                        <ul class="menu vertical">
                                          <li><a href="/transport-ekspresowy.html">Transport ekspresowy</a></li>
                                          <li><a href="/transport-targi.html">Transport na targi</a></li>
                                          <li><a href="/transport-przesiedlenia.html">Transport przesiedlenia</a></li>
                                          <li><a href="/transport-chlodniczy.html">Transport towarów chłodniczych</a></li>
                                          <li><a href="/transport-adr.html">Transport towarów niebezpiecznych</a></li>
                                          <li><a href="/transport-na-wiszaco.html">Transport towarów "na wisząco"</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/flota.html">Flota</a></li>
                                    <li class="is-dropdown-submenu-parent active">
                                        <a href="/o-firmie.html">O firmie</a>
                                        <ul class="menu vertical">
                                            <li><a href="/zespol.html">Team</a></li>
                                            <li><a href="/dokumenty.html">Dokumenty</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/#">Kontakt</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        
        <div class="page-header" style="background-image: url({{ 'assets/img/page-header/header-6.jpg'|theme }})">
            <div class="grid-container page-header-inner">
                <div class="page-header-inner-content">
                    <h1>O firmie</h1>
                    <nav aria-label="Jesteś tutaj:" role="navigation" class="breadcrumbs-wrapper">
                        <ul class="breadcrumbs">
                            <li><a href="/">Strona główna</a></li>
                            <li>O firmie</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        
    </div>
    
    <section class="section-page-content">
        <div class="grid-container">

            <div class="grid-x grid-margin-x">
                <div class="cell small-12 section-page-content-intro">
                    <div class="short-spacer short-spacer--center"></div>
                    <h2 class="section-title">Kim jesteśmy</h2>
                    <p>
                        Vidi Grup to nowoczesna agencja transportowa, która dostarcza porad oraz najlepszych rozwiązań transportowych dla naszych
                        klientów. Specjalizujemy się w transporcie ekspresowym samochodami do 3,5t DMC (dopuszczalna masa całkowita). Stawiamy na
                        profesjonalizm oraz wysoką kulturę pracy - to nas właśnie wyróżnia! Vidi Group to coś więcej niż transport, jesteśmy świadomym
                        podmiotem w branży, politykę firmy określają wartości:
                    </p>
                    
                    <div class="grid-x grid-margin-x align-middle about-text-block about-text-block-first">
                        <div class="cell small-12 medium-8 large-6 small-order-2 medium-order-1">
                            <div class="short-spacer"></div>
                            <h3 class="">klient</h3>
                            <p>
                                Klient jest dla nas najważniejszy, bez naszych klientów nasza agencja transportowa przestanie istnieć. Dostarczamy najlepszych
                                rozwiązań transportowych, dzielimy się wiedzą, wspieramy naszych kontrahentów oraz chcemy pomagać w rozwoju ich biznesu.
                                Nie obiecujemy rzeczy niemożliwych, jesteśmy świadomi, że słowo niedotrzymane wpływa na nasz wizerunek oraz wizerunek naszych
                                klientów. Pozostajemy lojalni wobec naszych partnerów, obowiązuje nas zasada tajemnicy zawodowej.
                            </p>
                        </div>
                        <div class="cell small-12 medium-4 large-6 small-order-1 medium-order-2">
                            <img src="{{ 'assets/img/about/about-client.jpg'|theme }}" alt="">
                        </div>
                    </div>

                    <div class="grid-x grid-margin-x align-middle about-text-block">
                        <div class="cell small-12 medium-4 large-6">
                            <img src="{{ 'assets/img/about/about-community.jpg'|theme }}" alt="">
                        </div>
                        <div class="cell small-12 medium-8 large-6">
                            <div class="short-spacer"></div>
                            <h3 class="">społeczeństwo</h3>
                            <p>
                                Jako przedsiębiorcy jesteśmy społecznie odpowiedzialni. Wspieramy nasz lokalny rynek transportowy, dbamy o naszych podwykonawców
                                dając im pracę oraz gwarantujemy wynagrodzenie zgodne z ustaleniami oraz w określonym czasie. Bezpieczeństwo oraz
                                życie ludzkie jest dla nas najważniejsze. Używamy środków transportu spełniających normy bezpieczeństwa, stanu technicznego
                                i norm ekologicznych. Licząc czas przejazdu (TT - transit time, czas transportu) jest kalkulowany w oparciu o doświadczenie,
                                wiedzę oraz predyspozycje kierowcy, samochody są ładowne zgodnie z ich dopuszczalną masą całkowitą. Jest to gwarancja
                                bezpieczeństwa naszych kierowców oraz innych uczestników dróg
                            </p>
                        </div>
                    </div>

                    <div class="grid-x grid-margin-x align-middle about-text-block">
                        <div class="cell small-12 medium-8 large-6 small-order-2 medium-order-1">
                            <div class="short-spacer"></div>
                            <h3 class="">środowisko naturalne</h3>
                            <p>
                                Środowisko naturalne jest naszym wspólnym dobrem. Musimy o nie dbać wszyscy, Ziemia - nasza planeta i dom - jest eksploatowana
                                w zastraszająco szybkim tempie. Jesteśmy zobowiązani do używania pojazdów spełniające normy ekologiczne przyczyniające się
                                do zmniejszenia emisji gazów cieplarnianych, zmniejszenia zużycia ropy naftowej oraz do spadku natężenia hałasu. Ważna jest
                                świadomość kierowców by jeździli w sposób ekonomiczny. Nasi pracownicy są świadomi i stosują praktyki proekologiczne już
                                od najmniejszych kroków jak segregacja śmieci w biurze.
                            </p>
                        </div>
                        <div class="cell small-12 medium-4 large-6 small-order-1 medium-order-2">
                            <img src="{{ 'assets/img/about/about-environment1.jpg'|theme }}" alt="">
                        </div>
                    </div>

                    <div class="grid-x grid-margin-x align-middle about-text-block about-text-block-last">
                        <div class="cell small-12 medium-4 large-6">
                            <img src="{{ 'assets/img/about/about-vdg.jpg'|theme }}" alt="">
                        </div>
                        <div class="cell small-12 medium-8 large-6">
                            <div class="short-spacer"></div>
                            <h3 class="">VDG</h3>
                            <p>
                                Jako firma stawiamy na zrównoważony rozwój. Rozwijamy naszą działalność wg zasad moralnych, nie kosztem podwykonawców, klientów
                                czy pracowników. Nie stosujemy zasad nieuczciwej konkurencji. Przestrzegamy wszystkich aspektów prawa. Rozwój dla nas to
                                nie tylko zysk finansowy. Stawiamy na pracowników, wspieramy ich, słuchamy ich potrzeb oraz dajemy możliwości rozwoju. Wiemy
                                co to nowoczesne technologie, wdrażamy nowe techniczne rozwiązania.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>
    </section>

    

    


