title = "Transport na targi"
url = "/transport-targi"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==

<div class="grid-container full main-header">

        <!-- Title bar only on "small" screens -->
        {# {{> title-bar}} #}

        <div class="top-nav show-for-large">
    
            <div class="grid-container">
                <div class="grid-x grid-margin-x">
                    <div class="cell">
    
                        <!-- Info bar -->
                        {# {{> top-nav-info-bar}} #}
    
                        <!-- Main navigation -->
                        <div class="main-nav show-for-large">
                            <div class="main-nav__logo">
                                <a href="/" class="main-nav__logo-link">
                                    <img src="assets/img/vidi-group-logo-header.png" srcset="assets/img/vidi-group-logo-header.png 1x,
                                                                                 assets/img/vidi-group-logo-header@2x.png 2x,
                                                                                 assets/img/vidi-group-logo-header@3x.png 3x" class="main-nav__logo-img"
                                        alt="Vidi Group logotyp">
                                </a>
                            </div>
                            <div class="main-nav__menu">
                                <ul class="dropdown menu" data-dropdown-menu>
                                    <li><a href="/">Strona główna</a></li>
                                    <li class="is-dropdown-submenu-parent">
                                        <a href="/#">Usługi</a>
                                        <ul class="menu vertical">
                                          <li><a href="/transport-ekspresowy.html">Transport ekspresowy</a></li>
                                          <li><a href="/transport-targi.html">Transport na targi</a></li>
                                          <li><a href="/transport-przesiedlenia.html">Transport przesiedlenia</a></li>
                                          <li><a href="/transport-chlodniczy.html">Transport towarów chłodniczych</a></li>
                                          <li><a href="/transport-adr.html">Transport towarów niebezpiecznych</a></li>
                                          <li><a href="/transport-na-wiszaco.html">Transport towarów "na wisząco"</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/flota.html">Flota</a></li>
                                    <li class="is-dropdown-submenu-parent">
                                        <a href="/o-firmie.html">O firmie</a>
                                        <ul class="menu vertical">
                                            <li><a href="/zespol.html">Team</a></li>
                                            <li><a href="/dokumenty.html">Dokumenty</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/#">Kontakt</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        
        <div class="page-header" style="background-image: url({{ 'assets/img/page-header/header-11.jpg'|theme }})">
            <div class="grid-container page-header-inner">
                <div class="page-header-inner-content">
                    <h1>Transport na targi</h1>
                    <nav aria-label="Jesteś tutaj:" role="navigation" class="breadcrumbs-wrapper">
                        <ul class="breadcrumbs">
                            <li><a href="/">Strona główna</a></li>
                            <li><a href="/oferta.html">Oferta</a></li>
                            <li>Transport na targi</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        
    </div>
    
    <section class="section-page-content">
        <div class="grid-container">

            <div class="grid-x grid-margin-x">
                <div class="cell small-12">
                    <div class="short-spacer short-spacer--center"></div>
                    <h2 class="section-title">Twoja ekspozycja w naszych rękach</h2>
                    
                    <div class="grid-x grid-margin-x service-description">
                        <div class="cell small-12 medium-6 text-justify">
                            <p>Jesteśmy specjalistami w transporcie towarów na różnego rodzaju targi oraz ekspozycje na terenie całej Unii Europejskiej,
                            Szwajcarii i Norwegii. Mamy bogate doświadczenie w dostarczaniu towaru na wyznaczony czas oraz miejsce. Ekspozycje to bardzo
                            ważne przedsięwzięcie dla naszych kontrahentów, nie ważne czy chcesz wystawić swoje dzieło sztuki w galerii czy przewieźć
                            nowoczesne urządzenie medyczne na specjalistyczne targi medyczne.</p>
                            <p>Do tego rodzaju transportu wysyłamy doświadczonych kierowców gdyż wiemy jakie &quot;zamieszanie&quot; panuje w miejscu ich
                            organizacji. Towar musi trafić na odpowiednie stanowisko niejednokrotnie w godzinach wieczornych lub nocnych oraz w weekendy
                            - do Twojej dyspozycji pozostaje przypisany specjalista, który czuwa nad prawidłowością przebiegu transportu pozostając z
                            Tobą w kontakcie 24/7.</p>
                        </div>
                        <div class="cell small-12 medium-6">
                            <img src="{{ 'assets/img/page-service/service-tradeshow.jpg'|theme }}" alt="">
                        </div>
                    </div>

                    <div class="grid-x grid-margin-x service-bullets">
                        <div class="cell small-12 medium-6">
                            <div class="short-spacer"></div>
                            <h3>Dostarczamy:</h3>
                            <ul class="icon-list icon-list--checkbox">
                                <li class="icon-list__item">
                                    <svg class="svg-icon icon-list__icon icon-list__icon--secondary"><use xlink:href="#icon-checkmark-circle-line"></use></svg>
                                    dedykowany środek transportu
                                </li>
                                <li class="icon-list__item">
                                    <svg class="svg-icon icon-list__icon icon-list__icon--secondary"><use xlink:href="#icon-checkmark-circle-line"></use></svg>
                                     doświadczonego kierowcę
                                </li>
                                <li class="icon-list__item">
                                    <svg class="svg-icon icon-list__icon icon-list__icon--secondary"><use xlink:href="#icon-checkmark-circle-line"></use></svg>
                                    transport w wyznaczony czas oraz miejsce w systemie door to door i JIT
                                </li>
                                <li class="icon-list__item">
                                    <svg class="svg-icon icon-list__icon icon-list__icon--secondary"><use xlink:href="#icon-checkmark-circle-line"></use></svg>
                                    transport bez przeładunków
                                </li>
                                <li class="icon-list__item">
                                    <svg class="svg-icon icon-list__icon icon-list__icon--secondary"><use xlink:href="#icon-checkmark-circle-line"></use></svg>
                                    kontakt ze spedytorem 24/7
                                </li>
                            </ul>
                        </div>
                        <div class="cell small-12 medium-6">
                            <div class="short-spacer"></div>
                            <h3>Zasieg: EU + NO + CH</h3>
                            <img src="{{'assets/img/service-map.jpg'|theme }}" srcset="{{'assets/img/service-map.jpg'|theme }} 1x, {{'assets/img/service-map@2x.jpg'|theme }} 2x, {{'assets/img/service-map@3x.jpg'|theme }} 3x" alt="Mapa Europy zasięg działalności">
                        </div>
                    </div>

                    <div class="grid-x grid-margin-x service-fleet">
                        <div class="cell small-12">
                            <div class="short-spacer"></div>
                            <h3>Zalecany środek transportu:</h3>
                            <div class="grid-x grid-margin-x">
                    
                                <div class="cell small-6 large-3 service-fleet__item">
                                    <a href="{{ 'flota' }}#panel7" class="service-fleet__link">
                                        <div class="service-fleet__img">
                                            <img src="{{ 'assets/img/fleet/small/bus_8ep_plandeka_lift_trolley_nosize.png'|theme }}" alt="">
                                        </div>
                                        <div class="service-fleet__title">Bus - 8 EP (plandeka, winda)</div>
                                    </a>
                                </div>
                    
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </section>

    

    


