title = "Zespół"
url = "/zespol"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==

<div class="grid-container full main-header">

        <!-- Title bar only on "small" screens -->
        {# {{> title-bar}} #}

        <div class="top-nav show-for-large">
    
            <div class="grid-container">
                <div class="grid-x grid-margin-x">
                    <div class="cell">
    
                        <!-- Info bar -->
                        {# {{> top-nav-info-bar}} #}
    
                        <!-- Main navigation -->
                        <div class="main-nav show-for-large">
                            <div class="main-nav__logo">
                                <a href="/" class="main-nav__logo-link">
                                    <img src="assets/img/vidi-group-logo-header.png" srcset="assets/img/vidi-group-logo-header.png 1x,
                                                                                 assets/img/vidi-group-logo-header@2x.png 2x,
                                                                                 assets/img/vidi-group-logo-header@3x.png 3x" class="main-nav__logo-img"
                                        alt="Vidi Group logotyp">
                                </a>
                            </div>
                            <div class="main-nav__menu">
                                <ul class="dropdown menu" data-dropdown-menu>
                                    <li><a href="/">Strona główna</a></li>
                                    <li class="is-dropdown-submenu-parent">
                                        <a href="/#">Usługi</a>
                                        <ul class="menu vertical">
                                          <li><a href="/transport-ekspresowy.html">Transport ekspresowy</a></li>
                                          <li><a href="/transport-targi.html">Transport na targi</a></li>
                                          <li><a href="/transport-przesiedlenia.html">Transport przesiedlenia</a></li>
                                          <li><a href="/transport-chlodniczy.html">Transport towarów chłodniczych</a></li>
                                          <li><a href="/transport-adr.html">Transport towarów niebezpiecznych</a></li>
                                          <li><a href="/transport-na-wiszaco.html">Transport towarów "na wisząco"</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/flota.html">Flota</a></li>
                                    <li class="is-dropdown-submenu-parent">
                                        <a href="/o-firmie.html">O firmie</a>
                                        <ul class="menu vertical">
                                            <li><a href="/zespol.html">Team</a></li>
                                            <li><a href="/dokumenty.html">Dokumenty</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/#">Kontakt</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        
        <div class="page-header" style="background-image: url({{ 'assets/img/page-header/header-10.jpg'|theme }})">
            <div class="grid-container page-header-inner">
                <div class="page-header-inner-content">
                    <h1>Zespół</h1>
                    <nav aria-label="Jesteś tutaj:" role="navigation" class="breadcrumbs-wrapper">
                        <ul class="breadcrumbs">
                            <li><a href="/">Strona główna</a></li>
                            <li><a href="/o-firmie.html">O firmie</a></li>
                            <li>Zespół</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        
    </div>
    
    <section class="section-page-content">
        <div class="grid-container">

            <div class="grid-x grid-margin-x">
                <div class="cell small-12 section-page-content-intro">
                    <div class="short-spacer short-spacer--center"></div>
                    <h2 class="section-title">Nasi klienci są dla nas najważniejsi</h2>
                    <p>Jesteśmy do waszej dyspozycji 24/7 oferując usługi szyte na miarę. Zespół specjalistów
                    codziennie dostarcza Tobie najlepszych rozwiązań transportowych wspierając oraz rozwijając Twój biznes. Zgrany i silnie
                    zmotywowany team z jasno określonymi celami jest w ciągłej gotowości do działania. Twój wniosek transportowy zostanie
                    rozpatrzony w ciągu 15 minut beż żadnych zobowiązań. Nasze wspólne rozwiązanie przyniesie Ci Twój sukces.</p>
                    <p>Klienci nas uwielbiają, praca z nami to czysta przyjemność. Ten kto spróbował raz naszych usług zostaje z nami na zawsze,
                    my zaś go wspieramy z całych naszych sił. Jesteśmy ekspertami w branży TSL, mamy kierunkowe wykształcenie oraz kilkuletnie doświadczenie, czytamy specjalistyczną prasę oraz śledzimy newsy z kilku źródeł codziennie uzupełniając naszą wiedzę.Dzielimy się z wami wiedzą z zakresu środków transportu, prawa transportowego, topografii Europy, towaroznawstwa oraz uśmiechem :) Obdarzysz nas zaufaniem i będziesz mógł spać spokojnie, bo doskonale wiesz, że Twój transport dojedzie na czas i miejsce.</p>

                    <div class="grid-x grid-margin-x team-member-wrapper">
                        <div class="cell small-12 large-4 team-member">
                            <img src="{{ 'assets/img/team/lukasz-widenski.jpg'|theme }}" class="" alt="">
                            <div class="team-member__content">
                                <div class="short-spacer"></div>
                                <h3 class="team-member__title">Łukasz Wideński</h3>
                                <div class="team-member__rank">CEO, Współzałożyciel</div>
                                <div class="team-member__desc">Specjalista ADR, ubezpieczenia CARGO, kontroling oraz reklamacje</div>
                                <div class="team-member-contact">
                                    <div class="team-member-contact__item">
                                        <svg class="svg-icon"><use xlink:href="#icon-smartphone1"></use></svg>
                                        <a href="tel:0048 604 654 562">0048 604 654 562</a>
                                    </div>
                                    <div class="team-member-contact__item">
                                        <svg class="svg-icon"><use xlink:href="#icon-phone"></use></svg>
                                        <a href="tel:0048 33 482 10 67">0048 33 482 10 67</a>
                                    </div>
                                    <div class="team-member-contact__item">
                                        <svg class="svg-icon"><use xlink:href="#icon-fax"></use></svg>
                                        <a href="tel:0048 33 845 73 56">0048 33 845 73 56</a>
                                    </div>
                                    <div class="team-member-contact__item">
                                        <svg class="svg-icon"><use xlink:href="#icon-email"></use></svg>
                                        <a href="mailto:lukasz@vidigroup.pl">lukasz@vidigroup.pl</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cell small-12 large-4 team-member">
                            <img src="{{ 'assets/img/team/radoslaw-stelmach.jpg'|theme }}" class="" alt="">
                            <div class="team-member__content">
                                <div class="short-spacer"></div>
                                <h3 class="team-member__title">Radosław Stelmach</h3>
                                <div class="team-member__rank">CEO, Współzałożyciel</div>
                                <div class="team-member__desc">Inżynier transportu, polityka firmy</div>
                                <div class="team-member-contact">
                                    <div class="team-member-contact__item">
                                        <svg class="svg-icon">
                                            <use xlink:href="#icon-smartphone1"></use>
                                        </svg>
                                        <a href="tel:0048 660 560 909">0048 660 560 909</a>
                                    </div>
                                    <div class="team-member-contact__item">
                                        <svg class="svg-icon">
                                            <use xlink:href="#icon-phone"></use>
                                        </svg>
                                        <a href="tel:0048 33 482 10 67">0048 33 482 10 67</a>
                                    </div>
                                    <div class="team-member-contact__item">
                                        <svg class="svg-icon">
                                            <use xlink:href="#icon-fax"></use>
                                        </svg>
                                        <a href="tel:0048 33 845 73 56">0048 33 845 73 56</a>
                                    </div>
                                    <div class="team-member-contact__item">
                                        <svg class="svg-icon">
                                            <use xlink:href="#icon-email"></use>
                                        </svg>
                                        <a href="mailto:lukasz@vidigroup.pl">radoslaw@vidigroup.pl</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cell small-12 large-4 team-member">
                            <img src="{{ 'assets/img/team/magdalena-bandola.jpg'|theme }}" class="" alt="">
                            <div class="team-member__content">
                                <div class="short-spacer"></div>
                                <h3 class="team-member__title">Magdalena Bandoła</h3>
                                <div class="team-member__rank">Specjalista d/s obsługi klienta</div>
                                <div class="team-member__desc">specjalizacja: obsługa klienta włoskiego</div>
                                <div class="team-member-contact">
                                    <div class="team-member-contact__item">
                                        <svg class="svg-icon">
                                            <use xlink:href="#icon-smartphone1"></use>
                                        </svg>
                                        <a href="tel:0048 604 665 032">0048 604 665 032</a>
                                    </div>
                                    <div class="team-member-contact__item">
                                        <svg class="svg-icon">
                                            <use xlink:href="#icon-phone"></use>
                                        </svg>
                                        <a href="tel:0048 33 482 10 67">0048 33 482 10 67</a>
                                    </div>
                                    <div class="team-member-contact__item">
                                        <svg class="svg-icon">
                                            <use xlink:href="#icon-fax"></use>
                                        </svg>
                                        <a href="tel:0048 33 845 73 56">0048 33 845 73 56</a>
                                    </div>
                                    <div class="team-member-contact__item">
                                        <svg class="svg-icon">
                                            <use xlink:href="#icon-email"></use>
                                        </svg>
                                        <a href="mailto:lukasz@vidigroup.pl">magda@vidigroup.pl</a>
                                    </div>
                                    <div class="team-member-contact__item">
                                        <svg class="svg-icon">
                                            <use xlink:href="#icon-skype"></use>
                                        </svg>
                                        <a href="mailto:lukasz@vidigroup.pl">Magda Bandola</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                </div>
            </div>
            
        </div>
    </section>

    

    


