<section class="section-btm-callout section-full section-full--secondary" style="background-image: url({{ 'assets/img/hero-contact.jpg'|theme }});">
    <div class="grid-container section-btm-callout-inner">

        <div class="grid-x grid-margin-x align-middle align-center">
            <div class="cell small-12 medium-8 large-7 section-btm-callout-lead">
                <h2 class="">Nie znalazłeś w naszej ofercie odpowiedniej usługi?</h2>
                <p>Nic nie szkodzi! Skontaktuj się z nami. Nasz doświadczony zespół specjalistów poradzi sobie z każdym zadaniem</p>
            </div>
            <div class="cell small-12 medium-4 large-3 section-btm-callout-contacts">
                <a href="{{ 'kontakt'|page }}" class="button expanded primary button--nomargin">Napisz do nas</a>
                <div class="section-btm-callout__separator-wrapper">
                    <span class="section-btm-callout__separator">lub zadzwoń</span>
                </div>
                <a href="tel:000000000" class="section-btm-callout__link">+48 123 456 789</a>
            </div>
        </div>

    </div>
</section>