<div class="off-canvas off-canvas-lang hide-for-large position-top" id="offCanvasLang" data-off-canvas data-transition="overlap">

    <!-- OffCanvas panel close button -->
    <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>

    <!-- OffCanvas panel content lives here -->
    <div class="grid-container full" style="height:100%">
        <div class="grid-x grid-margin-x align-center align-middle" style="height:100%">
            <div class="column off-canvas-lang-wrapper">
                <a href="/" class="off-canvas-lang-link">
                    <svg class="svg-icon off-canvas-lang-icon">
                        <use xlink:href="#icon-flag-pl"></use>
                    </svg>
                </a>
                <a href="/en" class="off-canvas-lang-link">
                    <svg class="svg-icon off-canvas-lang-icon">
                        <use xlink:href="#icon-flag-uk"></use>
                    </svg>
                </a>
                <a href="/it" class="off-canvas-lang-link">
                    <svg class="svg-icon off-canvas-lang-icon">
                        <use xlink:href="#icon-flag-it"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

</div>