<div class="off-canvas off-canvas-contact hide-for-large position-right" id="offCanvasContact" data-off-canvas data-transition="overlap">

    <!-- OffCanvas panel close button -->
    <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>

    <!-- OffCanvas panel content lives here -->
    <h3 class="off-canvas-content__header">Kontakt</h3>
    <ul class="off-canvas-content-list">
        <li class="off-canvas-content__item">
            VIDI GROUP Sp. Z o. o. Sp. k.
            <br />Ignacego Łukasiewicza 8/1
            <br />43-300, Bielsko-Biała
            <br />
            <br />NIP: 547-218-49-78
            <br />REGON: 000000001
        </li>
        <li class="off-canvas-content__item">
            <strong>Masz pytania?</strong>
            <a href="mailto:kontakt@vidigroup.pl">kontakt@vidigroup.pl</a>
        </li>
        <li class="off-canvas-content__item">
            <strong>Telefon/Fax:</strong>
            <a href="tel:+48 33 482 10 67">+48 (33) 482 10 67</a>
            <a href="tel:+48 33 845 73 56">+48 (33) 845 73 56</a>
        </li>
    </ul>

</div>