<!-- Title bar only on "small" screens -->
<div class="title-bar hide-for-large">
    <div class="title-bar-left">
        <!-- This button fires OffCanvas Menu Panel -->
        <button class="menu-icon" type="button" data-open="offCanvasMenu"></button>
    </div>
    <div class="title-bar-center">
        <!-- Logo/brand name -->
        <span class="title-bar-title">
            <a href="/" class="">
                <img src="{{ 'assets/img/vidi-group-logo-header.png'|theme }}"
                                        srcset="{{ 'assets/img/vidi-group-logo-header.png'|theme }} 1x,
                                                {{ 'assets/img/vidi-group-logo-header@2x.png'|theme }} 2x,
                                                {{ 'assets/img/vidi-group-logo-header@3x.png'|theme }} 3x" class="main-nav__logo-img" alt="Vidi Group logotyp">
            </a>
        </span>
    </div>
    <div class="title-bar-right">
        <!-- This button fires OffCanvas Language Panel -->
        <button class="globe-icon" type="button" data-open="offCanvasLang">
            <svg class="svg-icon">
                <use xlink:href="#icon-globe"></use>
            </svg>
        </button>
        <!-- This button fires OffCanvas Contact Panel -->
        <button class="phone-icon" type="button" data-open="offCanvasContact">
            <svg class="svg-icon">
                <use xlink:href="#icon-phone-full"></use>
            </svg>
        </button>
    </div>
</div>



