<!-- Info bar -->
<div class="info-bar grid-x show-for-medium">

    <ul class="cell auto info-bar__list">
        <li class="info-bar__title">Kontakt:</li>
        <li class="info-bar__item">
            <svg class="svg-icon info-bar__icon"><use xlink:href="#icon-phone1"></use></svg>
            <a href="tel:+48 123 456 789" class="info-bar__link">+48 (33) 482 10 67</a>
        </li>
        <li class="info-bar__item">
            <svg class="svg-icon info-bar__icon"><use xlink:href="#icon-fax1"></use></svg>
            <a href="tel:+48 123 456 789" class="info-bar__link">+48 (33) 845 73 56</a>
        </li>
        <li class="info-bar__item info-bar__item--last">
            <svg class="svg-icon info-bar__icon"><use xlink:href="#icon-email2"></use></svg>
            <a href="mailto:#/" class="info-bar__link">kontakt@vidigroup.pl</a>
        </li>
    </ul>

    <ul class="cell shrink info-bar__list info-bar__list--lang">
        <li class="info-bar__item info-bar__item--lang">
            <a href="/" class="info-bar__item-link">
                <svg class="svg-icon info-bar__icon info-bar__icon--lang">
                    <use xlink:href="#icon-flag-pl"></use>
                </svg>
            </a>
        </li>
        <li class="info-bar__item info-bar__item--lang">
            <a href="/en" class="info-bar__item-link">
                <svg class="svg-icon info-bar__icon info-bar__icon--lang">
                    <use xlink:href="#icon-flag-uk"></use>
                </svg>
            </a>
        </li>
        <li class="info-bar__item info-bar__item--lang">
            <a href="/it" class="info-bar__item-link">
                <svg class="svg-icon info-bar__icon info-bar__icon--lang info-bar__icon--last">
                    <use xlink:href="#icon-flag-it"></use>
                </svg>
            </a>
        </li>
    </ul>

</div>