<footer class="footer">

    <div class="footer-top footer-top--bg">
        <div class="grid-container footer-top-inner">
            <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-4 align-justify">
                <div class="cell footer-widget footer-widget-about">
                    <div class="footer-widget-content">
                        <img src="{{'assets/img/vidi-group-logo-footer.png'|theme }}" srcset="
                                        {{'assets/img/vidi-group-logo-footer.png'|theme }} 1x, 
                                        {{'assets/img/vidi-group-logo-footer@2x.png'|theme }} 2x,
                                        {{'assets/img/vidi-group-logo-footer@3x.png'|theme }} 3x
                                        " class="footer-widget__logo" alt="Vidi Group logotyp">
                        <div class="footer-widget-desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus magnam eaque sunt provident maiores ipsum fugiat amet laboriosam neque ratione necessitatibus unde, aliquid dolorem libero tempora quae tenetur sint fugit?
                        </div>
                    </div>
                </div>
                <div class="cell footer-widget footer-widget-contact">
                    <div class="footer-widget-content">
                        <div class="short-spacer"></div>
                        <h3 class="footer-widget__header">Kontakt</h3>
                        <ul class="footer-widget-big-list">
                            <li class="footer-widget-big__item">
                                <svg class="svg-icon footer-widget-big__icon"><use xlink:href="#icon-pin-line"></use></svg>
                                VIDI GROUP Sp. Z o. o. Sp. k.
                                <br />Ignacego Łukasiewicza 8/1
                                <br />43-300, Bielsko-Biała
                                <br />
                                <br />NIP: 547-218-49-78
                                <br />REGON: 000000001
                            </li>
                            <li class="footer-widget-big__item">
                                <svg class="svg-icon footer-widget-big__icon"><use xlink:href="#icon-email2"></use></svg>
                                <strong>Masz pytania?</strong>
                                <a href="mailto:kontakt@vidigroup.pl">kontakt@vidigroup.pl</a>
                            </li>
                            <li class="footer-widget-big__item">
                                <svg class="svg-icon footer-widget-big__icon"><use xlink:href="#icon-phone1"></use></svg>
                                <strong>Telefon/Fax:</strong>
                                <a href="tel:+48 33 482 10 67">+48 (33) 482 10 67</a>
                                <a href="tel:+48 33 845 73 56">+48 (33) 845 73 56</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cell footer-widget footer-widget-menu">
                    <div class="footer-widget-content">
                        <div class="short-spacer"></div>
                        <h3 class="footer-widget__header">Menu</h3>
                        <ul class="footer-widget__menu">
                            <li>
                                <a href="{{ 'flota'|page }}" class="footer-widget__menu-link">Flota</a>
                            </li>
                            <li>
                                <a href="{{ 'o-firmie'|page }}" class="footer-widget__menu-link">O firmie</a>
                            </li>
                            <li>
                                <a href="{{ 'zespol'|page }}" class="footer-widget__menu-link">Zespół</a>
                            </li>
                            <li>
                                <a href="{{ 'dokumenty'|page }}" class="footer-widget__menu-link">Dokumenty</a>
                            </li>
                            <li>
                                <a href="{{ 'kontakt'|page }}" class="footer-widget__menu-link">Kontakt</a>
                            </li>
                            <li>
                                <a href="http://wszystkoociasteczkach.pl/po-co-sa-ciasteczka/" target="_blank" class="footer-widget__menu-link">Polityka prywatności</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cell footer-widget footer-widget-fb">
                    <div class="footer-widget-content">
                        <div class="short-spacer"></div>
                        <h3 class="footer-widget__header">Usługi</h3>
                        <ul class="footer-widget__menu">
                            <li>
                                <a href="{{ 'transport-ekspresowy'|page }}" class="footer-widget__menu-link">Transport ekspresowy</a>
                            </li>
                            <li>
                                <a href="{{ 'transport-targi'|page }}" class="footer-widget__menu-link">Transport na targi</a>
                            </li>
                            <li>
                                <a href="{{ 'transport-przesiedlenia'|page }}" class="footer-widget__menu-link">Transport przesiedlenia</a>
                            </li>
                            <li>
                                <a href="{{ 'transport-chlodniczy'|page }}" class="footer-widget__menu-link">Transport towarów chłodniczych</a>
                            </li>
                            <li>
                                <a href="{{ 'transport-adr'|page }}" class="footer-widget__menu-link">Transport ADR</a>
                            </li>
                            <li>
                                <a href="{{ 'transport-na-wiszaco'|page }}" class="footer-widget__menu-link">Transport towarów na "wisząco"</a>
                            </li>
                        </ul>
                    </div>
            
                </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 footer-top-cookies">
                    Ta strona używa ciasteczek. Korzystając ze tej strony wyrażasz zgodę na używanie ciasteczek, zgodnie z aktualnymi ustawieniami przeglądarki.
                    <a href="http://wszystkoociasteczkach.pl/po-co-sa-ciasteczka/" target="_blank">Dowiedz się więcej »</a> 
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom footer-bottom--bg">
        <div class="grid-container footer-bottom-inner">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 footer-bottom-copyright">
                    &copy; {{ "now"|date("Y") }} VIDI GROUP Sp. Z o. o. Sp. k. | Wszystkie prawa zastrzeżone.
                </div>
            </div>
        </div>
    </div>

</div>