<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <symbol id="icon-checkmark-circle-2" viewBox="0 0 32 32">
            <title>checkmark-circle-2</title>
            <path d="M16 0c-8.836 0-16 7.164-16 16s7.164 16 16 16 16-7.164 16-16-7.164-16-16-16zM13.52 23.383l-7.362-7.363 2.828-2.828 4.533 4.535 9.617-9.617 2.828 2.828-12.444 12.445z"></path>
        </symbol>
        <symbol id="icon-checkmark-circle-line" viewBox="0 0 32 32">
            <title>checkmark-circle-line</title>
            <path d="M23.163 12.345l-1.233-1.233c-0.228-0.228-0.596-0.228-0.822 0l-7.402 7.401-3.519-3.547c-0.229-0.228-0.596-0.228-0.825 0l-1.233 1.234c-0.228 0.228-0.228 0.596 0 0.822l5.161 5.198c0.228 0.226 0.596 0.226 0.822 0l9.051-9.051c0.229-0.228 0.229-0.596 0-0.823zM16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 28.308c-6.796 0-12.308-5.511-12.308-12.308 0-6.798 5.511-12.308 12.308-12.308 6.798 0 12.308 5.51 12.308 12.308 0 6.796-5.51 12.308-12.308 12.308z"></path>
        </symbol>
        <symbol id="icon-checkmark-circle" viewBox="0 0 32 32">
            <title>checkmark-circle</title>
            <path d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM24.933 11.455l-11.675 11.674c-0.293 0.292-0.767 0.292-1.060 0l-0.235-0.235-0.001 0.001-6.423-6.469c-0.293-0.293-0.293-0.768 0-1.061l1.593-1.591c0.293-0.293 0.768-0.293 1.061 0l4.54 4.574 9.546-9.546c0.293-0.293 0.768-0.293 1.061 0l1.593 1.593c0.294 0.292 0.294 0.767 0.001 1.061z"></path>
        </symbol>
        <symbol id="icon-phone" viewBox="0 0 32 32">
            <title>phone</title>
            <path d="M6.417 13.833c2.583 5 6.75 9.167 11.75 11.75l3.917-3.917c0.5-0.5 1.25-0.667 1.833-0.417 2 0.667 4.167 1 6.333 1 1 0 1.75 0.75 1.75 1.75v6.25c0 1-0.75 1.75-1.75 1.75-16.667 0-30.25-13.583-30.25-30.25 0-1 0.75-1.75 1.75-1.75h6.25c1 0 1.75 0.75 1.75 1.75 0 2.25 0.333 4.333 1 6.333 0.167 0.583 0.083 1.333-0.417 1.833z"></path>
        </symbol>
        <symbol id="icon-globe" viewBox="0 0 15 15">
            <title>Język</title>
            <path d="M14.982 7A7.498 7.498 0 0 0 8 .017V0H7v.017A7.499 7.499 0 0 0 .017 7H0v1h.017A7.498 7.498 0 0 0 7 14.982V15h1v-.018A7.497 7.497 0 0 0 14.982 8H15V7h-.018zM4.695 1.635C4.212 2.277 3.811 3.082 3.519 4H2.021a6.534 6.534 0 0 1 2.674-2.365zM1.498 5h1.758a11.876 11.876 0 0 0-.246 2H1.019a6.444 6.444 0 0 1 .479-2zm-.479 3H3.01c.027.697.112 1.368.246 2H1.498a6.444 6.444 0 0 1-.479-2zm1.002 3h1.497c.292.918.693 1.723 1.177 2.365A6.527 6.527 0 0 1 2.021 11zM7 13.936C5.972 13.661 5.087 12.557 4.55 11H7v2.936zM7 10H4.269a11.176 11.176 0 0 1-.259-2H7v2zm0-3H4.01c.029-.704.118-1.377.259-2H7v2zm0-3H4.55C5.087 2.443 5.972 1.339 7 1.065V4zm5.979 0h-1.496c-.293-.918-.693-1.723-1.178-2.365A6.54 6.54 0 0 1 12.979 4zM8 1.065C9.027 1.339 9.913 2.443 10.45 4H8V1.065zM8 5h2.73c.142.623.229 1.296.26 2H8V5zm0 3h2.99a11.085 11.085 0 0 1-.26 2H8V8zm0 5.936V11h2.45c-.537 1.557-1.423 2.661-2.45 2.936zm2.305-.571c.483-.643.885-1.447 1.178-2.365h1.496a6.533 6.533 0 0 1-2.674 2.365zM13.502 10h-1.758c.134-.632.219-1.303.246-2h1.99a6.415 6.415 0 0 1-.478 2zM11.99 7a11.876 11.876 0 0 0-.246-2h1.758c.26.623.426 1.296.479 2H11.99z"/></path>
        </symbol>
        <symbol id="icon-phone1" viewBox="0 0 473.806 473.806">
            <title>phone2</title>
            <path d="M374.456 293.506c-9.7-10.1-21.4-15.5-33.8-15.5-12.3 0-24.1 5.3-34.2 15.4l-31.6 31.5c-2.6-1.4-5.2-2.7-7.7-4-3.6-1.8-7-3.5-9.9-5.3-29.6-18.8-56.5-43.3-82.3-75-12.5-15.8-20.9-29.1-27-42.6 8.2-7.5 15.8-15.3 23.2-22.8 2.8-2.8 5.6-5.7 8.4-8.5 21-21 21-48.2 0-69.2l-27.3-27.3c-3.1-3.1-6.3-6.3-9.3-9.5-6-6.2-12.3-12.6-18.8-18.6-9.7-9.6-21.3-14.7-33.5-14.7s-24 5.1-34 14.7l-.2.2-34 34.3c-12.8 12.8-20.1 28.4-21.7 46.5-2.4 29.2 6.2 56.4 12.8 74.2 16.2 43.7 40.4 84.2 76.5 127.6 43.8 52.3 96.5 93.6 156.7 122.7 23 10.9 53.7 23.8 88 26 2.1.1 4.3.2 6.3.2 23.1 0 42.5-8.3 57.7-24.8.1-.2.3-.3.4-.5 5.2-6.3 11.2-12 17.5-18.1 4.3-4.1 8.7-8.4 13-12.9 9.9-10.3 15.1-22.3 15.1-34.6 0-12.4-5.3-24.3-15.4-34.3l-54.9-55.1zm35.8 105.3c-.1 0-.1.1 0 0-3.9 4.2-7.9 8-12.2 12.2-6.5 6.2-13.1 12.7-19.3 20-10.1 10.8-22 15.9-37.6 15.9-1.5 0-3.1 0-4.6-.1-29.7-1.9-57.3-13.5-78-23.4-56.6-27.4-106.3-66.3-147.6-115.6-34.1-41.1-56.9-79.1-72-119.9-9.3-24.9-12.7-44.3-11.2-62.6 1-11.7 5.5-21.4 13.8-29.7l34.1-34.1c4.9-4.6 10.1-7.1 15.2-7.1 6.3 0 11.4 3.8 14.6 7l.3.3c6.1 5.7 11.9 11.6 18 17.9 3.1 3.2 6.3 6.4 9.5 9.7l27.3 27.3c10.6 10.6 10.6 20.4 0 31-2.9 2.9-5.7 5.8-8.6 8.6-8.4 8.6-16.4 16.6-25.1 24.4-.2.2-.4.3-.5.5-8.6 8.6-7 17-5.2 22.7l.3.9c7.1 17.2 17.1 33.4 32.3 52.7l.1.1c27.6 34 56.7 60.5 88.8 80.8 4.1 2.6 8.3 4.7 12.3 6.7 3.6 1.8 7 3.5 9.9 5.3.4.2.8.5 1.2.7 3.4 1.7 6.6 2.5 9.9 2.5 8.3 0 13.5-5.2 15.2-6.9l34.2-34.2c3.4-3.4 8.8-7.5 15.1-7.5 6.2 0 11.3 3.9 14.4 7.3l.2.2 55.1 55.1c10.3 10.2 10.3 20.7.1 31.3zM256.056 112.706c26.2 4.4 50 16.8 69 35.8s31.3 42.8 35.8 69c1.1 6.6 6.8 11.2 13.3 11.2.8 0 1.5-.1 2.3-.2 7.4-1.2 12.3-8.2 11.1-15.6-5.4-31.7-20.4-60.6-43.3-83.5s-51.8-37.9-83.5-43.3c-7.4-1.2-14.3 3.7-15.6 11s3.5 14.4 10.9 15.6zM473.256 209.006c-8.9-52.2-33.5-99.7-71.3-137.5s-85.3-62.4-137.5-71.3c-7.3-1.3-14.2 3.7-15.5 11-1.2 7.4 3.7 14.3 11.1 15.6 46.6 7.9 89.1 30 122.9 63.7 33.8 33.8 55.8 76.3 63.7 122.9 1.1 6.6 6.8 11.2 13.3 11.2.8 0 1.5-.1 2.3-.2 7.3-1.1 12.3-8.1 11-15.4z"/></path>
        </symbol>
        <symbol id="icon-phone-full" viewBox="0 0 480.56 480.56">
            <title>Kontakt</title>
            <path d="M365.354 317.9c-15.7-15.5-35.3-15.5-50.9 0-11.9 11.8-23.8 23.6-35.5 35.6-3.2 3.3-5.9 4-9.8 1.8-7.7-4.2-15.9-7.6-23.3-12.2-34.5-21.7-63.4-49.6-89-81-12.7-15.6-24-32.3-31.9-51.1-1.6-3.8-1.3-6.3 1.8-9.4 11.9-11.5 23.5-23.3 35.2-35.1 16.3-16.4 16.3-35.6-.1-52.1-9.3-9.4-18.6-18.6-27.9-28-9.6-9.6-19.1-19.3-28.8-28.8-15.7-15.3-35.3-15.3-50.9.1-12 11.8-23.5 23.9-35.7 35.5-11.3 10.7-17 23.8-18.2 39.1-1.9 24.9 4.2 48.4 12.8 71.3 17.6 47.4 44.4 89.5 76.9 128.1 43.9 52.2 96.3 93.5 157.6 123.3 27.6 13.4 56.2 23.7 87.3 25.4 21.4 1.2 40-4.2 54.9-20.9 10.2-11.4 21.7-21.8 32.5-32.7 16-16.2 16.1-35.8.2-51.8-19-19.1-38.1-38.1-57.2-57.1zM346.254 238.2l36.9-6.3c-5.8-33.9-21.8-64.6-46.1-89-25.7-25.7-58.2-41.9-94-46.9l-5.2 37.1c27.7 3.9 52.9 16.4 72.8 36.3 18.8 18.8 31.1 42.6 35.6 68.8zM403.954 77.8c-42.6-42.6-96.5-69.5-156-77.8l-5.2 37.1c51.4 7.2 98 30.5 134.8 67.2 34.9 34.9 57.8 79 66.1 127.5l36.9-6.3c-9.7-56.2-36.2-107.2-76.6-147.7z"/>
        </symbol>
        <symbol id="icon-home" viewBox="0 0 32 32">
            <title>home</title>
            <path d="M12.77 28.845h-7.962v-12.845h-4.808l16-14.423 16 14.423h-4.808v12.845h-7.962v-9.615h-6.46v9.615z"></path>
        </symbol>
        <symbol id="icon-home-line" viewBox="0 0 486.988 486.988">
            <title>dom</title>
            <path d="M16.822,284.968h39.667v158.667c0,9.35,7.65,17,17,17h116.167c9.35,0,17-7.65,17-17V327.468h70.833v116.167    c0,9.35,7.65,17,17,17h110.5c9.35,0,17-7.65,17-17V284.968h48.167c6.8,0,13.033-4.25,15.583-10.483    c2.55-6.233,1.133-13.6-3.683-18.417L260.489,31.385c-6.517-6.517-17.283-6.8-23.8-0.283L5.206,255.785    c-5.1,4.817-6.517,12.183-3.967,18.7C3.789,281.001,10.022,284.968,16.822,284.968z M248.022,67.368l181.333,183.6h-24.367    c-9.35,0-17,7.65-17,17v158.667h-76.5V310.468c0-9.35-7.65-17-17-17H189.656c-9.35,0-17,7.65-17,17v116.167H90.489V267.968    c0-9.35-7.65-17-17-17H58.756L248.022,67.368z"></path>
        </symbol>
        <symbol id="icon-fax" viewBox="0 0 32 32">
            <title>fax</title>
            <path d="M25.615 1.577v6.385h-19.23v-6.385h19.23zM27.192 16c0.901 0 1.653-0.676 1.653-1.577s-0.751-1.653-1.653-1.653-1.577 0.751-1.577 1.653 0.676 1.577 1.577 1.577zM22.385 27.192v-7.962h-12.77v7.962h12.77zM27.192 9.615c2.629 0 4.808 2.178 4.808 4.807v9.615h-6.385v6.385h-19.23v-6.385h-6.385v-9.615c0-2.629 2.178-4.807 4.808-4.807h22.385z"></path>
        </symbol>
        <symbol id="icon-fax1" viewBox="0 0 482.5 482.5">
            <title>fax</title>
            <path d="M399.25 98.9h-12.4V71.3c0-39.3-32-71.3-71.3-71.3h-149.7c-39.3 0-71.3 32-71.3 71.3v27.6h-11.3c-39.3 0-71.3 32-71.3 71.3v115c0 39.3 32 71.3 71.3 71.3h11.2v90.4c0 19.6 16 35.6 35.6 35.6h221.1c19.6 0 35.6-16 35.6-35.6v-90.4h12.5c39.3 0 71.3-32 71.3-71.3v-115c0-39.3-32-71.3-71.3-71.3zm-277.8-27.6c0-24.4 19.9-44.3 44.3-44.3h149.6c24.4 0 44.3 19.9 44.3 44.3v27.6h-238.2V71.3zm238.3 375.8c0 4.7-3.9 8.6-8.6 8.6h-221.1c-4.7 0-8.6-3.9-8.6-8.6V298h238.3v149.1zm83.8-161.8c0 24.4-19.9 44.3-44.3 44.3h-12.4V298h17.8c7.5 0 13.5-6 13.5-13.5s-6-13.5-13.5-13.5h-330c-7.5 0-13.5 6-13.5 13.5s6 13.5 13.5 13.5h19.9v31.6h-11.3c-24.4 0-44.3-19.9-44.3-44.3v-115c0-24.4 19.9-44.3 44.3-44.3h316c24.4 0 44.3 19.9 44.3 44.3v115z"/><path d="M154.15 364.4h171.9c7.5 0 13.5-6 13.5-13.5s-6-13.5-13.5-13.5h-171.9c-7.5 0-13.5 6-13.5 13.5s6.1 13.5 13.5 13.5zM327.15 392.6h-172c-7.5 0-13.5 6-13.5 13.5s6 13.5 13.5 13.5h171.9c7.5 0 13.5-6 13.5-13.5s-6-13.5-13.4-13.5zM398.95 151.9h-27.4c-7.5 0-13.5 6-13.5 13.5s6 13.5 13.5 13.5h27.4c7.5 0 13.5-6 13.5-13.5s-6-13.5-13.5-13.5z"/></path>
        </symbol>
        <symbol id="icon-email" viewBox="0 0 32 32">
            <title>email</title>
            <path d="M16 14.423l12.845-8.038h-25.69zM28.845 25.615v-16l-12.845 7.962-12.845-7.962v16h25.69zM28.845 3.155c1.728 0 3.155 1.502 3.155 3.23v19.23c0 1.728-1.427 3.23-3.155 3.23h-25.69c-1.728 0-3.155-1.502-3.155-3.23v-19.23c0-1.728 1.427-3.23 3.155-3.23h25.69z"></path>
        </symbol>
        <symbol id="icon-email2" viewBox="0 0 39.474 39.474">
            <title>email2</title>
            <path d="M38.347 4.825c.619 0 1.127.508 1.127 1.127v27.571c0 .619-.508 1.127-1.127 1.127H1.111A1.12 1.12 0 0 1 0 33.522V5.952c0-.619.492-1.127 1.111-1.127H38.347zM19.729 20.348l8.444-7.301 6.904-5.984H4.381l6.904 5.984 8.444 7.301zm9.904-5.619l-9.158 7.936a1.132 1.132 0 0 1-1.476.016l-9.174-7.952-7.587-6.571v23.158l7.587-6.587 4.254-3.667a1.095 1.095 0 0 1 1.571.111c.413.46.349 1.175-.111 1.571l-4.254 3.682-6.904 5.968h30.697l-6.904-5.968-4.254-3.682a1.123 1.123 0 0 1-.111-1.571 1.096 1.096 0 0 1 1.571-.111l4.254 3.667 7.603 6.587V8.158l-7.604 6.571z"></path>
        </symbol>
        <symbol id="icon-pin" viewBox="0 0 32 32">
            <title>pin</title>
            <path d="M4.808 28.845h22.385v3.155h-22.385v-3.155zM12.77 9.615c0 1.728 1.502 3.155 3.23 3.155 1.803 0 3.23-1.427 3.23-3.155s-1.502-3.23-3.23-3.23-3.23 1.502-3.23 3.23zM25.615 9.615c0 7.211-9.615 17.577-9.615 17.577s-9.615-10.366-9.615-17.577c0-5.333 4.282-9.615 9.615-9.615s9.615 4.282 9.615 9.615z"></path>
        </symbol>
        <symbol id="icon-pin-line" viewBox="0 0 512 512">
            <title>pin line</title>
            <path d="M256 0C153.755 0 70.573 83.182 70.573 185.426c0 126.888 165.939 313.167 173.004 321.035 6.636 7.391 18.222 7.378 24.846 0 7.065-7.868 173.004-194.147 173.004-321.035C441.425 83.182 358.244 0 256 0zm0 469.729c-55.847-66.338-152.035-197.217-152.035-284.301 0-83.834 68.202-152.036 152.035-152.036s152.035 68.202 152.035 152.035C408.034 272.515 311.861 403.37 256 469.729z"/><path d="M256 92.134c-51.442 0-93.292 41.851-93.292 93.293S204.559 278.72 256 278.72s93.291-41.851 93.291-93.293S307.441 92.134 256 92.134zm0 153.194c-33.03 0-59.9-26.871-59.9-59.901s26.871-59.901 59.9-59.901 59.9 26.871 59.9 59.901-26.871 59.901-59.9 59.901z"/></path>
        </symbol>
        <symbol id="icon-checkmark" viewBox="0 0 32 32">
            <title>checkmark</title>
            <path d="M27 4l-15 15-7-7-5 5 12 12 20-20z"></path>
        </symbol>
        <symbol id="icon-facebook" viewBox="0 0 32 32">
            <title>facebook</title>
            <path d="M19 6h5v-6h-5c-3.86 0-7 3.14-7 7v3h-4v6h4v16h6v-16h5l1-6h-6v-3c0-0.542 0.458-1 1-1z"></path>
        </symbol>
        <symbol id="icon-facebook-box" viewBox="0 0 32 32">
            <title>facebook-box</title>
            <path d="M29 0h-26c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h13v-14h-4v-4h4v-2c0-3.306 2.694-6 6-6h4v4h-4c-1.1 0-2 0.9-2 2v2h6l-1 4h-5v14h9c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3z"></path>
        </symbol>
        <symbol id="icon-skype" viewBox="0 0 32 32">
            <title>Skype</title>
            <path d="M13.3 1.169c-0.050-0.031-0.106-0.056-0.156-0.081-0.056 0.012-0.106 0.019-0.162 0.031l0.319 0.050z"></path>
            <path d="M1.15 13.156c-0.012 0.056-0.019 0.113-0.025 0.162 0.031 0.050 0.050 0.1 0.081 0.15l-0.056-0.313z"></path>
            <path d="M30.837 18.831c0.012-0.056 0.019-0.113 0.031-0.169-0.031-0.050-0.050-0.1-0.081-0.15l0.050 0.319z"></path>
            <path d="M18.5 30.719c0.050 0.031 0.106 0.056 0.156 0.081 0.056-0.012 0.113-0.019 0.169-0.025l-0.325-0.056z"></path>
            <path d="M30.869 18.663c-0.012 0.056-0.019 0.113-0.031 0.169l-0.056-0.325c0.031 0.056 0.056 0.106 0.087 0.156 0.163-0.9 0.25-1.819 0.25-2.738 0-2.037-0.4-4.019-1.188-5.881-0.762-1.8-1.85-3.419-3.238-4.806s-3.006-2.475-4.8-3.237c-1.863-0.788-3.844-1.188-5.881-1.188-0.963 0-1.925 0.088-2.863 0.269 0 0-0.006 0-0.006 0 0.050 0.025 0.106 0.050 0.156 0.081l-0.319-0.050c0.056-0.012 0.106-0.019 0.162-0.031-1.287-0.681-2.731-1.050-4.194-1.050-2.388 0-4.638 0.931-6.325 2.619s-2.619 3.937-2.619 6.325c0 1.519 0.394 3.019 1.125 4.338 0.012-0.056 0.019-0.113 0.025-0.162l0.056 0.319c-0.031-0.050-0.056-0.1-0.081-0.15-0.15 0.856-0.225 1.731-0.225 2.606 0 2.038 0.4 4.019 1.188 5.881 0.763 1.8 1.85 3.413 3.237 4.8s3.006 2.475 4.806 3.238c1.863 0.788 3.844 1.188 5.881 1.188 0.887 0 1.775-0.081 2.644-0.238-0.050-0.031-0.1-0.056-0.156-0.081l0.325 0.056c-0.056 0.012-0.113 0.019-0.169 0.025 1.337 0.756 2.856 1.163 4.4 1.163 2.387 0 4.637-0.931 6.325-2.619s2.619-3.938 2.619-6.325c-0.006-1.519-0.4-3.019-1.137-4.35zM16.069 25.181c-5.369 0-7.769-2.637-7.769-4.619 0-1.012 0.75-1.725 1.781-1.725 2.3 0 1.7 3.3 5.988 3.3 2.194 0 3.406-1.194 3.406-2.413 0-0.731-0.363-1.544-1.806-1.9l-4.775-1.194c-3.844-0.963-4.544-3.044-4.544-5 0-4.056 3.819-5.581 7.406-5.581 3.306 0 7.2 1.825 7.2 4.263 0 1.044-0.906 1.65-1.938 1.65-1.962 0-1.6-2.713-5.55-2.713-1.963 0-3.044 0.887-3.044 2.156s1.55 1.675 2.894 1.981l3.538 0.787c3.869 0.863 4.85 3.125 4.85 5.25 0 3.294-2.531 5.756-7.637 5.756z"></path>
        </symbol>
        <symbol id="icon-dot" viewBox="0 0 32 32">
            <title>dot</title>
            <path d="M5.313 16c0-5.875 4.813-10.688 10.688-10.688s10.688 4.813 10.688 10.688-4.813 10.688-10.688 10.688-10.688-4.813-10.688-10.688z"></path>
        </symbol>
        <symbol id="icon-smartphone" viewBox="0 0 32 32">
            <title>ikona telefon komórkowy</title>
            <path d="M21.313 24v-18.688h-12v18.688h12zM15.313 29.313c1.125 0 2-0.875 2-2s-0.875-2-2-2-2 0.875-2 2 0.875 2 2 2zM20.688 1.313c1.813 0 3.313 1.563 3.313 3.375v22.625c0 1.813-1.5 3.375-3.313 3.375h-10.688c-1.813 0-3.313-1.563-3.313-3.375v-22.625c0-1.813 1.5-3.375 3.313-3.375h10.688z"></path>
        </symbol>
        <symbol id="icon-smartphone1" viewBox="0 0 32 32">
            <title>mobile</title>
            <path d="M23 0h-14c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h14c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3zM12 1.5h8v1h-8v-1zM16 30c-1.105 0-2-0.895-2-2s0.895-2 2-2 2 0.895 2 2-0.895 2-2 2zM24 24h-16v-20h16v20z"></path>
        </symbol>
        <symbol id="icon-doc-download" viewBox="0 0 314.065 314.065">
            <title>ikona pobierania dokumentu</title>
            <path d="M190.333,149.972l-17.602,17.6v-65.497c0-8.666-7.036-15.701-15.701-15.701c-8.668,0-15.701,7.035-15.701,15.701v65.497     l-17.607-17.6c-6.133-6.129-16.072-6.129-22.201,0c-6.133,6.129-6.133,16.078,0,22.202l44.408,44.41h-0.008     c3.07,3.069,7.083,4.6,11.108,4.6c2.008,0,4.022-0.384,5.903-1.149c1.892-0.766,3.663-1.907,5.198-3.442l44.402-44.41     c6.127-6.128,6.127-16.072,0-22.201C206.411,143.834,196.46,143.834,190.333,149.972z M235.533,21.061     C160.438-22.295,64.414,3.436,21.063,78.531c-43.356,75.089-17.633,171.117,57.464,214.478     c75.087,43.348,171.119,17.62,214.476-57.467C336.364,160.443,310.62,64.419,235.533,21.061z M265.801,219.841     c-34.688,60.075-111.503,80.653-171.574,45.961C34.158,231.118,13.565,154.308,48.25,94.232     c34.683-60.078,111.499-80.662,171.578-45.971C279.899,82.936,300.485,159.762,265.801,219.841z">
        </symbol>
        <symbol id="icon-bank" viewBox="0 0 243.176 243.176">
            <title>bank</title>
            <path d="M229.374 185.229v-9.636c0-8.779-6.92-15.953-15.59-16.404V80.616h9.59a6 6 0 0 0 6-6V48.812a6 6 0 0 0-4.711-5.86L122.877 20.564a5.994 5.994 0 0 0-2.578 0L18.513 42.953a6 6 0 0 0-4.711 5.86v25.803a6 6 0 0 0 6 6h9.59v78.574c-8.67.45-15.59 7.624-15.59 16.404v9.636C5.967 186.641 0 193.494 0 201.729v15.023a6 6 0 0 0 6 6h231.176a6 6 0 0 0 6-6v-15.023c0-8.235-5.968-15.088-13.802-16.5zm-203.572-9.636a4.452 4.452 0 0 1 4.447-4.447h182.678a4.452 4.452 0 0 1 4.447 4.447v9.355H25.802v-9.355zm32.67-16.447h-17.08V82.365h17.08v76.781zm66.461-78.53v78.53h-6.689v-78.53h6.689zm29.081 78.53h-17.081V82.365h17.081v76.781zm47.77 0h-17.08V82.365h17.08v76.781zm-95.541-76.781v76.781H89.162V82.365h17.081zM12 201.729a4.786 4.786 0 0 1 4.78-4.78h209.614a4.786 4.786 0 0 1 4.78 4.78v9.023H12v-9.023zm160.704-42.583h-6.69v-78.53h6.69v78.53zM25.802 53.636l95.786-21.069 95.786 21.069v14.979H25.802V53.636zm51.36 26.98v78.53h-6.69v-78.53h6.69z"/>
        </symbol>
        <symbol id="icon-flag-uk" viewBox="0 0 512.002 512.002">
            <title>Język angielski</title>
            <path d="M503.172 423.725H8.828c-4.875 0-8.828-3.953-8.828-8.828V97.104c0-4.875 3.953-8.828 8.828-8.828h494.345c4.875 0 8.828 3.953 8.828 8.828v317.793c0 4.875-3.953 8.828-8.828 8.828z" fill="#41479B"/><path d="M512 97.104c0-4.875-3.953-8.828-8.828-8.828h-39.495l-163.54 107.147V88.276H211.86v107.147L48.323 88.276H8.828C3.953 88.276 0 92.23 0 97.104v22.83l140.31 91.928H0v88.276h140.31L0 392.066v22.83c0 4.876 3.953 8.83 8.828 8.83h39.495l163.54-107.148v107.147h88.276V316.578l163.54 107.147h39.494c4.875 0 8.828-3.953 8.828-8.828v-22.83l-140.31-91.928H512v-88.277H371.69L512 119.935v-22.83z" fill="#F5F5F5"/><g fill="#FF4B55"><path d="M512 229.518H282.483V88.276h-52.966v141.242H0v52.965h229.517v141.242h52.966V282.483H512"/><path d="M178.948 300.138L.25 416.135c.625 4.263 4.14 7.59 8.577 7.59h12.16l190.39-123.586h-32.43v-.002zM346.388 300.138H313.96l190.113 123.404c4.43-.472 7.928-4.09 7.928-8.646v-7.258l-165.612-107.5zM0 106.85l161.78 105.013h32.427L5.143 89.137C2.123 90.54 0 93.555 0 97.104v9.745zM332.566 211.863L511.693 95.586c-.744-4.122-4.184-7.31-8.52-7.31h-12.648L300.138 211.864h32.428z"/></g>
        </symbol>
        <symbol id="icon-flag-pl" viewBox="0 0 512.001 512.001">
            <title>Język polski</title>
            <path d="M0 256h512v158.897c0 4.875-3.953 8.828-8.828 8.828H8.828c-4.875 0-8.828-3.953-8.828-8.828V256z" fill="#FF4B55"/><path d="M512 256H0V97.103c0-4.875 3.953-8.828 8.828-8.828h494.345c4.875 0 8.828 3.953 8.828 8.828V256z" fill="#F5F5F5"/>
        </symbol>
        <!-- <symbol id="icon-flag-gr" viewBox="0 0 512.001 512.001">
            <title>Germany Flag</title>
            <path d="M512 200.093H0V97.103c0-4.874 3.953-8.827 8.828-8.827h494.345c4.875 0 8.828 3.953 8.828 8.828v102.99z" fill="#464655"/><path d="M503.172 423.725H8.828c-4.875 0-8.828-3.953-8.828-8.828V311.91h512v102.987c0 4.876-3.953 8.828-8.828 8.828z" fill="#FFE15A"/><path fill="#FF4B55" d="M0 200.09h512V311.9H0z"/>
        </symbol> -->
        <symbol id="icon-flag-it" viewBox="0 0 512 512">
            <title>Język włoski</title>
            <path d="M170.667 423.721H8.828A8.829 8.829 0 0 1 0 414.893V97.1a8.829 8.829 0 0 1 8.828-8.828h161.839v335.449z" fill="#73af00"/><path fill="#f5f5f5" d="M170.67 88.277h170.67v335.45H170.67z"/><path d="M503.172 423.721H341.333V88.273h161.839A8.829 8.829 0 0 1 512 97.101v317.793a8.827 8.827 0 0 1-8.828 8.827z" fill="#ff4b55"/>
        </symbol>

        <!-- logistics -->
        <symbol id="icon-logi-1" viewBox="0 0 66 66">
            <title></title>
            <path d="M66 41.3v-8.1c0-.6-.4-1-1-1H50V1.1c0-.6-.4-1-1-1C45.5 0 20.5 0 17 0c-.6 0-1 .4-1 1v31.1H1c-.6 0-1 .4-1 1V65c0 .6.4 1 1 1h64c.6 0 1-.4 1-1V41.3zm-2-1h-9v-6.1h9v6.1zm-20.9 0h-9v-6.1h9v6.1zm-20.2-6.2h9v6.1h-9v-6.1zm-4.9-24h9v8.1c0 .4.3.8.6.9.4.1.8 0 1.1-.3l4.2-4.6 4.2 4.6c.3.3.7.4 1.1.3.4-.1.6-.5.6-.9v-8.1h9v21.7H18V10.1zm27.1 24H53v13.7l-3.2-3.5c-.2-.2-.5-.3-.7-.3s-.5.1-.7.3l-3.2 3.5V34.1zm2.9-26h-9V2h9v6.1zM37 2v13.7l-3.2-3.5c-.2-.2-.5-.3-.7-.3-.3 0-.5.1-.7.3L29 15.7V2h8zM27 2v6.1h-9V2h9zm-6.1 32.1v13.7l-3.2-3.5c-.2-.2-.5-.3-.7-.3s-.5.1-.7.3L13 47.8V34.1h7.9zm-9.9 0v6.1H2v-6.1h9zM2 64V42.3h9v8.1c0 .4.3.8.6.9.4.1.8 0 1.1-.3l4.2-4.6 4.2 4.6c.3.3.7.4 1.1.3.4-.1.6-.5.6-.9v-8.1h9V64H2zm32.1 0V42.3h9v8.1c0 .4.3.8.6.9.4.1.8 0 1.1-.3l4.2-4.6 4.2 4.6c.3.3.7.4 1.1.3.4-.1.6-.5.6-.9v-8.1h9V64H34.1z"/><path d="M17.5 51.2c-.2-.2-.4-.3-.7-.3-.3 0-.5.1-.7.3l-3.3 3.3c-.4.4-.4 1 0 1.4.4.4 1 .4 1.4 0l1.5-1.5V59c0 .6.4 1 1 1s1-.4 1-1v-4.6l1.5 1.6c.4.4 1 .4 1.4 0 .4-.4.4-1 0-1.4l-3.1-3.4zM27.3 51.2c-.2-.2-.4-.3-.7-.3-.3 0-.5.1-.7.3l-3.3 3.3c-.4.4-.4 1 0 1.4.4.4 1 .4 1.4 0l1.5-1.5V59c0 .6.4 1 1 1s1-.4 1-1v-4.6L29 56c.4.4 1 .4 1.4 0 .4-.4.4-1 0-1.4l-3.1-3.4zM19.1 60.6h-4.6c-.6 0-1 .4-1 1s.4 1 1 1h4.6c.6 0 1-.4 1-1s-.5-1-1-1zM28.9 60.6h-4.6c-.6 0-1 .4-1 1s.4 1 1 1h4.6c.6 0 1-.4 1-1s-.4-1-1-1zM49.8 51.2c-.2-.2-.4-.3-.7-.3-.3 0-.5.1-.7.3l-3.3 3.3c-.4.4-.4 1 0 1.4.4.4 1 .4 1.4 0l1.5-1.5V59c0 .6.4 1 1 1s1-.4 1-1v-4.6l1.5 1.6c.4.4 1 .4 1.4 0 .4-.4.4-1 0-1.4l-3.1-3.4zM59.6 51.2c-.2-.2-.4-.3-.7-.3-.3 0-.5.1-.7.3L55 54.5c-.4.4-.4 1 0 1.4.4.4 1 .4 1.4 0l1.5-1.6v4.6c0 .6.4 1 1 1s1-.4 1-1v-4.6l1.5 1.5c.4.4 1 .4 1.4 0 .4-.4.4-1 0-1.4l-3.2-3.2zM51.4 60.6h-4.6c-.6 0-1 .4-1 1s.4 1 1 1h4.6c.6 0 1-.4 1-1s-.5-1-1-1zM61.2 60.6h-4.6c-.6 0-1 .4-1 1s.4 1 1 1h4.6c.6 0 1-.4 1-1s-.4-1-1-1zM33.8 19.2c-.2-.2-.4-.3-.7-.3-.3 0-.5.1-.7.3l-3.3 3.3c-.4.4-.4 1 0 1.4.2.2.5.3.7.3.3 0 .5-.1.7-.3l1.5-1.5V27c0 .6.4 1 1 1s1-.4 1-1v-4.6l1.5 1.6c.4.4 1 .4 1.4 0 .4-.4.4-1 0-1.4l-3.1-3.4zM43.6 19.2c-.2-.2-.4-.3-.7-.3-.3 0-.5.1-.7.3l-3.3 3.3c-.4.4-.4 1 0 1.4.2.2.5.3.7.3.3 0 .5-.1.7-.3l1.5-1.5V27c0 .6.4 1 1 1s1-.4 1-1v-4.6l1.5 1.6c.4.4 1 .4 1.4 0 .4-.4.4-1 0-1.4l-3.1-3.4zM35.4 28.6h-4.6c-.6 0-1 .4-1 1s.4 1 1 1h4.6c.6 0 1-.4 1-1s-.5-1-1-1zM45.2 28.6h-4.6c-.6 0-1 .4-1 1s.4 1 1 1h4.6c.6 0 1-.4 1-1s-.5-1-1-1z"/>
        </symbol>
        <symbol id="icon-logi-2" viewBox="0 0 66 66">
            <title></title>
            <path d="M65 47H48.2V15.2c0-.6-.4-1-1-1s-1 .4-1 1V47h-2.5V1c0-.6-.4-1-1-1s-1 .4-1 1v47.6h-1.1V37.9v-.3l-7.1-24.2c-.1-.4-.5-.7-1-.7H10.2c-.5 0-.9.4-1 .9L6 40.7h-.4c-1.1-.2-2.1.1-2.9.7C.1 43.5 0 49 0 49.6v8.6c0 .6.4 1 1 1h2.8v.3c0 3.6 2.9 6.5 6.5 6.5s6.5-2.9 6.5-6.5v-.3h14.4v.3c0 3.6 2.9 6.5 6.5 6.5s6.5-2.9 6.5-6.5c0-.6-.1-1.3-.3-1.8v-8.6h21.3c.6 0 1-.4 1-1-.2-.6-.6-1.1-1.2-1.1zm-37.6 1.6l-2.2-3.5h13.4v3.5H27.4zM11.1 14.7h20.6l6.9 23.4v2.7l-8.3-8.3c1.8-2.2 2.8-4.8 1.5-6-.2-.2-.7-.5-1.3-.5-1.7 0-3.8 1.7-5.2 3.3-2.1 2.4-3.6 5.4-2.1 6.7 1.6 1.4 4.3-.6 5.8-2.1l9.1 9.1H23.9l-1.2-1.9c-.2-.3-.5-.5-.8-.5H8l3.1-25.9zm17 17.2c-1.5 1.7-3 2.5-3.6 2.6 0-.5.6-2 2.2-3.9 1.5-1.7 2.9-2.5 3.6-2.6 0 .6-.5 2.1-2.2 3.9zm-24.2 11c.4-.3.8-.4 1.4-.3h16l3.7 6H2.1c.1-1.8.6-4.6 1.8-5.7zM10.2 64c-2.5 0-4.5-2-4.5-4.5s2-4.5 4.5-4.5 4.5 2 4.5 4.5-2 4.5-4.5 4.5zm6.1-6.8c-.9-2.4-3.3-4.2-6-4.2s-5.1 1.7-6 4.2H2v-6.6h39.7v4c-1.1-1-2.6-1.6-4.2-1.6-2.8 0-5.1 1.7-6 4.2H16.3zM37.5 64C35 64 33 62 33 59.5s2-4.5 4.5-4.5 4.5 2 4.5 4.5-2 4.5-4.5 4.5z"/><path d="M20.6 37.9h-7.4l-.7-7.7c-.1-.5-.5-1-1.1-.9-.5.1-1 .5-.9 1.1l.8 8.6c0 .5.5.9 1 .9h8.3c.6 0 1-.4 1-1 0-.5-.5-1-1-1zM65 30H51.2c-.6 0-1 .4-1 1v13.8c0 .6.4 1 1 1H65c.6 0 1-.4 1-1V31c0-.6-.4-1-1-1zm-1 3.5h-2.8V32H64v1.5zM59.2 32v3.9l-.4-.5c-.2-.2-.5-.3-.7-.3-.3 0-.5.1-.7.3l-.4.5V32h2.2zm-4.3 0v1.5h-2.8V32h2.8zm-2.7 11.8v-8.3H55v2.9c0 .4.3.8.6.9.4.1.8 0 1.1-.3l1.4-1.5 1.4 1.5c.3.3.7.4 1.1.3.4-.1.6-.5.6-.9v-2.9H64v8.3H52.2zM51.2 28H65c.6 0 1-.4 1-1V13.2c0-.6-.4-1-1-1H51.2c-.6 0-1 .4-1 1V27c0 .6.4 1 1 1zm1-2v-8.3H55v2.9c0 .4.3.8.6.9.4.1.8 0 1.1-.3l1.4-1.5 1.4 1.5c.3.3.7.4 1.1.3.4-.1.6-.5.6-.9v-2.9H64V26H52.2zM64 15.7h-2.8v-1.5H64v1.5zm-4.8-1.5v3.9l-.4-.5c-.2-.2-.5-.3-.7-.3-.3 0-.5.1-.7.3l-.4.5v-3.9h2.2zm-4.3 0v1.5h-2.8v-1.5h2.8z"/>
        </symbol>
        <symbol id="icon-logi-3" viewBox="0 0 66 66">
            <title></title>
            <path d="M66 35.7c0-1-.3-1.9-.8-2.7l-6.7-11.1c-1-1.6-2.7-2.5-4.5-2.5h-9.9v-8.9c0-.6-.4-1-1-1h-7.6c-.6 0-1 .4-1 1s.4 1 1 1h6.6v26.1H2V11.5h7c.6 0 1-.4 1-1s-.4-1-1-1H1c-.6 0-1 .4-1 1v46.1c0 .6.4 1 1 1h10.5v.8c0 4.2 3.4 7.7 7.7 7.7 4.2 0 7.7-3.4 7.7-7.7v-.8h17v.8c0 4.2 3.4 7.7 7.7 7.7 4.2 0 7.7-3.4 7.7-7.7v-.8H65c.6 0 1-.4 1-1V35.7zM54 21.4c1.1 0 2.2.6 2.8 1.6l6.7 11c.3.5.5 1.1.5 1.7v9.2H44.1V21.4H54zM42.1 39.6v5.3H2v-5.3h40.1zM19.2 64c-3.1 0-5.7-2.5-5.7-5.7s2.5-5.7 5.7-5.7c2.7 0 4.9 1.8 5.5 4.3.1.4.2.9.2 1.4-.1 3.2-2.6 5.7-5.7 5.7zm32.3 0c-3.1 0-5.7-2.5-5.7-5.7s2.5-5.7 5.7-5.7c3.1 0 5.7 2.5 5.7 5.7S54.6 64 51.5 64zM64 55.6h-5.3c-1.1-2.9-3.9-4.9-7.2-4.9-3.3 0-6.1 2-7.2 4.9h-18c-1.1-2.9-3.9-4.9-7.2-4.9-3.3 0-6.1 2-7.2 4.9H2v-8.7h62v8.7z"/><path d="M48.8 35.8h10c.6 0 1-.4 1-1 0-.3-.1-.5-.3-.7l-4.9-7.9c-.5-.8-1.4-1.3-2.3-1.3h-3.6c-.6 0-1 .4-1 1v8.8c.1.6.5 1.1 1.1 1.1zm1-8.9h2.6c.2 0 .5.1.6.3l4 6.5h-7.2v-6.8zM26.6 27.6c.4.3 1.1.2 1.4-.2.3-.4.2-1.1-.2-1.4l-5-3.8s-.1 0-.1-.1c0 0-.1 0-.1-.1-.2-.1-.5-.1-.7 0 0 0-.1 0-.1.1 0 0-.1 0-.1.1l-5 3.8c-.4.3-.5 1-.2 1.4.3.4 1 .5 1.4.2l3.4-2.6v4.7L18.9 32c-.4.4-.4 1 0 1.4.4.4 1 .4 1.4 0l1.9-1.9 1.9 1.9c.4.4 1 .4 1.4 0 .4-.4.4-1 0-1.4l-2.3-2.3V25l3.4 2.6zM21.6 11.5c.1.1.4.2.6.2.2 0 .5-.1.6-.2l5-3.8c.4-.3.5-1 .2-1.4-.3-.4-1-.5-1.4-.2l-3.4 2.6V4.1l2.3-2.3c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-1.9 1.9L20.3.4c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l2.3 2.3v4.7l-3.4-2.6c-.4-.3-1.1-.2-1.4.2-.3.4-.2 1.1.2 1.4l5 3.7zM14.1 15.9H9.4l-2.3-2.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l1.9 1.9-1.9 1.9c-.4.4-.4 1 0 1.4.4.4 1 .4 1.4 0l2.3-2.3h4.7l-2.6 3.4c-.3.4-.2 1.1.2 1.4.4.3 1.1.2 1.4-.2l3.8-5c.3-.4.2-.9 0-1.2l-3.8-5c-.3-.4-1-.5-1.4-.2-.4.3-.5 1-.2 1.4l2.6 3.4zM27.6 17.5l3.8 5c.3.4 1 .5 1.4.2.4-.3.5-1 .2-1.4l-2.6-3.4h4.7l2.3 2.3c.4.4 1 .4 1.4 0 .4-.4.4-1 0-1.4l-1.9-1.9 1.9-1.9c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-2.3 2.3h-4.7l2.6-3.4c.3-.4.2-1.1-.2-1.4-.4-.3-1.1-.2-1.4.2l-3.8 5c-.3.3-.3.8 0 1.2zM26.8 16.9c0-2.5-2-4.5-4.5-4.5s-4.5 2-4.5 4.5 2 4.5 4.5 4.5c2.5.1 4.5-2 4.5-4.5zm-7.1 0c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5-1.1 2.5-2.5 2.5c-1.4.1-2.5-1.1-2.5-2.5z"/>
        </symbol>
        <symbol id="icon-logi-4" viewBox="0 0 66 66">
            <title></title>
            <path d="M66 31.3c0-.7-.2-1.4-.6-2l-4.6-7.5c-.7-1.2-2-1.9-3.3-1.9H46.2v-9.3c0-.6-.4-1-1-1H29.6c-.6 0-1 .4-1 1s.4 1 1 1h14.6v32.5H2V11.7h14.5c.6 0 1-.4 1-1s-.4-1-1-1H1c-.6 0-1 .4-1 1v43.7c0 .6.4 1 1 1h3.5v.2c0 3.5 2.9 6.4 6.4 6.4 3.6 0 6.4-2.9 6.4-6.4v-.2h1.8v.2c0 3.5 2.9 6.4 6.4 6.4s6.4-2.9 6.4-6.4v-.2h17v.2c0 3.5 2.9 6.4 6.4 6.4 3.6 0 6.4-2.9 6.4-6.4v-.2h3c.6 0 1-.4 1-1 .3-6.5.3-7.3.3-23.1zm-19.8 9.4H64v3.5H46.2v-3.5zm13-17.8l4.6 7.5c.2.3.3.6.3 1v7.3H46.2V22h11.4c.6 0 1.2.3 1.6.9zM11 59.9c-2.4 0-4.4-2-4.4-4.4 0-2.4 2-4.4 4.4-4.4 2.4 0 4.4 2 4.4 4.4 0 2.5-2 4.4-4.4 4.4zm14.6 0c-2.4 0-4.4-2-4.4-4.4 0-2.4 2-4.4 4.4-4.4 2.4 0 4.4 2 4.4 4.4.1 2.5-1.9 4.4-4.4 4.4zm29.9 0c-2.4 0-4.4-2-4.4-4.4 0-2.4 2-4.4 4.4-4.4 2.4 0 4.4 2 4.4 4.4.1 2.5-1.9 4.4-4.4 4.4zm8.5-6.5h-2.4c-.9-2.5-3.3-4.2-6-4.2-2.8 0-5.1 1.8-6 4.2H31.7c-.9-2.5-3.3-4.2-6-4.2-2.8 0-5.1 1.8-6 4.2H17c-.9-2.5-3.3-4.2-6-4.2-2.8 0-5.1 1.8-6 4.2H2v-7.2h62v7.2z"/><path d="M49.6 36.8h9.1c.6 0 1-.4 1-1v-4.1c0-.2 0-.3-.1-.5l-3-5.2c-.2-.3-.5-.5-.9-.5h-6.1c-.6 0-1 .4-1 1v9.3c0 .6.5 1 1 1zm1-9.3h4.5l2.6 4.5v2.8h-7.1v-7.3zM28.9 22.9c0-.1-3.4-8.8-6.1-10.2-.3-.2-.8-.1-1.1.1-.3.2-.4.6-.4 1 .3 1.1.9 6-.9 8.1-1.8 2.1-3 3.1-3.2 6.2-.3 4.2 3.1 6.5 6.1 6.5 1.6 0 3.2-.7 4.7-2.1 2.9-2.6 2-6.2.9-9.6zM26.8 31c-1.1 1-2.3 1.6-3.4 1.6-1.9 0-4.3-1.5-4.1-4.4.1-2.4.9-2.9 2.7-5 1.5-1.7 1.8-4.4 1.7-6.5 1.4 2.4 3 5.9 3.3 6.8.3 1 2.2 5.2-.2 7.5z"/><path d="M4.7 37.5c.2.3.6.5.9.5h35c.6 0 1-.4 1-1 0-.2-.1-.5-.2-.6L24 4.6c-.4-.6-1.4-.6-1.8 0L4.7 36.5c-.1.3-.1.7 0 1zM23.1 7.1L38.9 36H7.3L23.1 7.1z"/>
        </symbol>
        <symbol id="icon-logi-5" viewBox="0 0 66 50">
            <title></title>
            <path d="M66 31.8c0-.9-.2-1.7-.7-2.5l-5.9-9.7c-.9-1.4-2.4-2.3-4.1-2.3h-8.5V8.5c0-.6-.4-1-1-1H9.9c-.6 0-1 .4-1 1v5.8H5c-.6 0-1 .4-1 1s.4 1 1 1h3.9v4.6H3c-.6 0-1 .4-1 1s.4 1 1 1h5.9v4.6H1c-.6 0-1 .4-1 1s.4 1 1 1h7.9v20.6c0 .6.4 1 1 1H18v.5c0 3.8 3.1 6.8 6.9 6.8 3.8 0 6.9-3.1 6.9-6.8v-.5h14.7v.5c0 3.8 3.1 6.8 6.9 6.8 3.8 0 6.9-3.1 6.9-6.8v-.5h5c.6 0 1-.4 1-1C66 32.9 66 49 66 31.8zM55.3 19.4c1 0 1.9.5 2.4 1.3l5.9 9.7c.3.4.4.9.4 1.4v7.9H46.8V19.4h8.5zM10.9 36.2h33.9v3.5H10.9v-3.5zm17.9-8.7H10.9v-4.6h20.9c.6 0 1-.4 1-1s-.4-1-1-1H10.9v-4.6h23.9c.6 0 1-.4 1-1s-.4-1-1-1H10.9V9.5h33.9v24.7H10.9v-4.7h17.9c.6 0 1-.4 1-1 0-.5-.4-1-1-1zm-4 29c-2.7 0-4.9-2.2-4.9-4.8 0-2.7 2.2-4.8 4.9-4.8s4.9 2.2 4.9 4.8c0 2.6-2.2 4.8-4.9 4.8zm28.4 0c-2.7 0-4.9-2.2-4.9-4.8 0-2.7 2.2-4.8 4.9-4.8s4.9 2.2 4.9 4.8c-.1 2.6-2.3 4.8-4.9 4.8zM64 49.1h-4.5c-1-2.5-3.5-4.3-6.4-4.3-2.9 0-5.4 1.8-6.4 4.3H31.2c-1-2.5-3.5-4.3-6.4-4.3-2.9 0-5.4 1.8-6.4 4.3h-7.6v-7.4H64v7.4z"/><path d="M50.8 32h8.8c.6 0 1-.4 1-1 0-.3-.1-.5-.3-.7L56 23.4c-.5-.7-1.2-1.2-2.1-1.2h-3.2c-.6 0-1 .4-1 1V31c.1.6.5 1 1.1 1zm1-7.7H54c.2 0 .3.1.4.2l3.4 5.5h-6v-5.7z"/>
        </symbol>
        <symbol id="icon-logi-6" viewBox="0 0 66 66">
            <title></title>
            <path d="M41.5 36.3c-.5.1-.9.6-.8 1.2 1.6 7.9.2.9 3.6 17.6.1.3.2.5.4.6.2.1.5.2.8.1L63 52.2c.5-.1.9-.6.8-1.2-4.2-20.7-3.4-16.8-3.6-17.6-.1-.3-.2-.5-.4-.6-.2-.1-.5-.2-.8-.1-3.6.7-14.1 2.9-17.5 3.6zm17.4.6l-4.5.9-.4-2.1 4.5-.9.4 2.1zm-9.6-.2c.6-.1 2.2-.4 2.8-.6l.7 3.6-.8-.6c-.2-.2-.5-.3-.8-.2-.3.1-.5.2-.7.5l-.5.9-.7-3.6zm-2 .4l.4 2.1-4.5.9-.3-2.1 4.4-.9zM46 53.7l-2.3-11.6 4.5-.9.4 2.2c.1.4.4.7.8.8.4.1.8-.1 1-.5l1.2-2.3 2 1.6c.3.3.8.3 1.1.1.4-.2.5-.6.5-1.1l-.4-2.2 4.5-.9 2.3 11.6L46 53.7zM39.6 33.7c.1.3.2.5.4.6.2.1.4.2.6.2h.2l17.6-3.6c.5-.1.9-.6.8-1.2-4.1-20.5-2.8-14-3.6-17.6-.1-.3-.2-.5-.4-.6-.2-.1-.5-.2-.8-.1-1.8.4-16.2 3.3-17.6 3.6-.5.1-.9.6-.8 1.2.9 4.3 1.6 7.7 3.6 17.5zm1.7-1.4L39 20.7l4.5-.9.4 2.2c.1.4.4.7.8.8.4.1.8-.1 1-.5L47 20l2 1.6c.3.3.8.3 1.1.1.4-.2.5-.6.5-1.1l-.4-2.2 4.5-.9L57 29.1l-15.7 3.2zm6.1-17.5l.7 3.6-.8-.6c-.2-.2-.5-.3-.8-.2-.3.1-.5.2-.7.5l-.5.9-.7-3.6.4-.1 2.4-.5zm6.8.8l-4.5.9-.4-2.1 4.5-.9.4 2.1zm-11.6.2l.4 2.1-4.5.9-.4-2.1 4.5-.9zM17.6 15.4H6.7C3 15.4 0 18.8 0 22.8V41c0 .6.4 1 1 1h3.7v11.4c0 1.7 1.4 3.1 3.1 3.1h8.5c1.7 0 3.1-1.4 3.1-3.1V42h3.7c.6 0 1-.4 1-1V22.8c.2-4-2.8-7.4-6.5-7.4zM22.3 40h-2.7v-9.1c0-.6-.4-1-1-1s-1 .4-1 1v22.5c0 .6-.5 1.1-1.1 1.1h-3.3V41.6c0-.6-.4-1-1-1s-1 .4-1 1v12.9H7.9c-.6 0-1.1-.5-1.1-1.1V30.9c0-.6-.4-1-1-1s-1 .4-1 1V40H2V22.8c0-3 2.1-5.4 4.7-5.4h10.9c2.6 0 4.7 2.4 4.7 5.4V40zM12.1 14.5c4.1 0 7.4-3.3 7.4-7.3S16.2-.1 12.1-.1C8 0 4.7 3.3 4.7 7.3s3.3 7.2 7.4 7.2zm0-12.5c3 0 5.4 2.4 5.4 5.3s-2.4 5.3-5.4 5.3c-3 0-5.4-2.4-5.4-5.3S9.1 2 12.1 2z"/><path d="M64.8 53l-21.3 4.3c-.9-2.5-3.3-4.3-6.2-4.3l-4.9-28.2c-.4-2.1-2.2-3.6-4.3-3.6h-1.4c-.6 0-1 .4-1 1s.4 1 1 1h1.4c1.1 0 2.1.8 2.3 2l4.9 28.2c-2.5.8-4.3 3.2-4.4 6-.1 3.6 2.7 6.6 6.3 6.7 3.8.1 6.6-2.9 6.7-6.3v-.5L65.2 55c.5-.1.9-.6.8-1.2-.1-.6-.7-1-1.2-.8zM37.3 64c-2.5-.1-4.4-2.2-4.4-4.7.1-2.5 2.1-4.4 4.5-4.4 2.7 0 4.6 2.3 4.5 4.7-.1 2.4-2 4.4-4.6 4.4zM22.6 58.5H1.7c-.6 0-1 .4-1 1s.4 1 1 1h20.9c.6 0 1-.4 1-1s-.5-1-1-1zM22.6 63H1.7c-.6 0-1 .4-1 1s.4 1 1 1h20.9c.6 0 1-.4 1-1s-.5-1-1-1z"/>
        </symbol>
        <symbol id="icon-logi-7" viewBox="0 0 52 52">
            <title></title>
            <path d="M37.816 51H14.194a1 1 0 0 1-1-1V25.757l-3.577 4.614a1 1 0 0 1-1.4.179l-5.624-4.34a1 1 0 1 1 1.222-1.583l4.833 3.73 4.755-6.136a1.002 1.002 0 0 1 1.79.613V49h21.623V22.834a1 1 0 0 1 1.79-.613l4.755 6.136 4.823-3.73a1 1 0 0 1 1.224 1.582l-5.614 4.34a1.002 1.002 0 0 1-1.402-.178l-3.576-4.614V50a1 1 0 0 1-1 1zM26 12.218a1 1 0 0 1-1-1v-.304c0-1.588.813-3.085 2.23-4.108.659-.477.98-1.28.837-2.094-.145-.827-.85-1.533-1.678-1.678a2.099 2.099 0 0 0-1.739.456 2.1 2.1 0 0 0-.751 1.611 1 1 0 0 1-2 0c0-1.215.534-2.36 1.465-3.142a4.117 4.117 0 0 1 3.371-.895c1.654.29 3.012 1.648 3.302 3.302A4.098 4.098 0 0 1 28.4 8.427c-.89.643-1.4 1.55-1.4 2.487v.304a1 1 0 0 1-1 1z"/><path d="M48.797 26.418a.997.997 0 0 1-.792-.388l-3.753-4.854c-4.337-5.61-11.16-8.958-18.25-8.958-7.087 0-13.907 3.346-18.244 8.95L3.995 26.03a1 1 0 1 1-1.582-1.224l3.763-4.861c4.713-6.09 12.125-9.727 19.826-9.727 7.705 0 15.119 3.64 19.832 9.734l3.753 4.854a1 1 0 0 1-.79 1.612z"/><g><path d="M26.002 51a1 1 0 0 1-1-1V11.218a1 1 0 0 1 2 0V50a1 1 0 0 1-1 1z"/></g>
        </symbol>
        <symbol id="icon-logi-8" viewBox="0 0 66 66">
            <title></title>
            <path d="M65 10.3h-5.7c-2.6 0-4.7 2.1-4.7 4.7v33.7c0 .9-.7 1.6-1.6 1.6H1c-.6 0-1 .4-1 1s.4 1 1 1h52.1c2 0 3.6-1.6 3.6-3.6V14.9c0-1.5 1.2-2.7 2.7-2.7H65c.6 0 1-.4 1-1 0-.5-.4-.9-1-.9zM55.2 57.1h-1.8c-1-2.1-3.2-3.6-5.7-3.6S43 55 42 57.1H15.5c-1-2.1-3.2-3.6-5.7-3.6S5.2 55 4.2 57.1H1c-.6 0-1 .4-1 1s.4 1 1 1h2.7v.6c0 3.5 2.8 6.3 6.3 6.3s6.3-2.8 6.3-6.3v-.6h25.4v.6c0 3.5 2.8 6.3 6.3 6.3 3.4 0 6.3-2.8 6.3-6.3v-.6h1.2c.6 0 1-.4 1-1-.3-.5-.8-1-1.3-1zM9.9 64c-2.3 0-4.3-1.9-4.3-4.3 0-2.3 1.9-4.3 4.3-4.3 2.3 0 4.3 1.9 4.3 4.3-.1 2.4-2 4.3-4.3 4.3zm37.8 0c-2.3 0-4.3-1.9-4.3-4.3 0-2.3 1.9-4.3 4.3-4.3 2.3 0 4.3 1.9 4.3 4.3-.1 2.4-2 4.3-4.3 4.3z"/><path d="M.4 47.1c0 .6.4 1 1 1h23.3c.6 0 1-.4 1-1V26.6c0-.6-.4-1-1-1H1.4c-.6 0-1 .4-1 1v20.5zm2-1V32.3h6.5V35c0 .4.2.8.6.9.4.2.8.1 1.1-.2l2.4-2.5 2.4 2.5c.3.3.7.4 1.1.2.4-.2.6-.5.6-.9v-2.7h6.5V46H2.4zm21.3-15.8h-6.5v-2.7h6.5v2.7zm-8.5-2.7v4.9L13.8 31c-.2-.2-.5-.3-.7-.3-.3 0-.5.1-.7.3L11 32.5v-4.9h4.2zm-6.3 0v2.7H2.4v-2.7h6.5zM29.3 25.6c-.6 0-1 .4-1 1v20.5c0 .6.4 1 1 1h23.3c.6 0 1-.4 1-1V26.6c0-.6-.4-1-1-1H29.3zm7.5 2v2.7h-6.5v-2.7h6.5zm-6.5 18.5V32.3h6.5V35c0 .4.2.8.6.9.4.2.8.1 1.1-.2l2.4-2.5 2.4 2.5c.3.3.7.4 1.1.2.4-.2.6-.5.6-.9v-2.7h6.5V46H30.3zm21.3-15.8h-6.5v-2.7h6.5v2.7zm-8.5-2.7v4.9L41.7 31c-.2-.2-.5-.3-.7-.3-.3 0-.5.1-.7.3l-1.4 1.5v-4.9h4.2zM14.5 22.5c0 .6.4 1 1 1h23.3c.6 0 1-.4 1-1V1c0-.6-.4-1-1-1H15.5c-.6 0-1 .4-1 1v21.5zm2-1V7H23v2.9c0 .4.3.8.6.9.4.1.8 0 1.1-.3l2.4-2.6 2.4 2.6c.3.3.7.4 1.1.3.4-.1.6-.5.6-.9V7h6.5v14.5H16.5zM37.8 5h-6.5V2h6.5v3zm-8.5-3v5.3l-1.4-1.5c-.2-.2-.5-.3-.7-.3-.3 0-.6.1-.7.3L25 7.3V2h4.3zM23 2v3h-6.5V2H23z"/>
        </symbol>
        <symbol id="icon-logi-9" viewBox="0 0 512 512">
            <title>transport chłodniczy</title>
            <path d="M373.6 165.9H428v16.4h-54.4zM337.9 355V198.6h-16.4V355c-27.7 4-49.2 27.9-49.2 56.7 0 31.6 25.7 57.4 57.4 57.4 31.6 0 57.4-25.7 57.4-57.4 0-28.9-21.4-52.7-49.2-56.7zm-8.2 97.6c-22.6 0-41-18.4-41-41s18.4-41 41-41 41 18.4 41 41c0 22.7-18.4 41-41 41z"/><path d="M370.7 322.4V43c0-22.6-18.4-41-41-41s-41 18.4-41 41v70.3l-37.9 37.9c-3.4-2.2-7.2-3.8-11.3-4.7V100L280 59.6 268.4 48l-28.8 28.8v-42h-16.4v42.1L194.4 48l-11.6 11.6 40.4 40.4v46.5c-4.9 1.1-9.3 3.2-13.3 6.1l-34.3-34.3V61.1h-16.4v40.8l-29.7-29.7L118 83.8l29.7 29.7h-40.8v16.4h57.2l35.1 35.1c-1.5 2.8-2.8 5.8-3.5 9.1h-51.3L104 133.6l-11.6 11.6 28.8 28.8H83.9v16.4h37.3l-28.8 28.8 11.6 11.6 40.4-40.4h51.3c.9 4.1 2.5 7.8 4.7 11.2L164.1 238h-57.2v16.4h40.8l-26.4 26.4 11.6 11.6 26.4-26.4v40.8h16.4v-57.2l36.3-36.3c3.4 2.2 7.2 3.8 11.3 4.7v51.3l-40.4 40.4 11.6 11.6 28.8-28.8v37.3h16.4v-37.3l28.8 28.8 11.6-11.6-40.4-40.4V218c3.2-.7 6.2-2 9.1-3.5l40.1 40.1v67.8c-35 16-57.4 50.5-57.4 89.3 0 54.2 44.1 98.3 98.3 98.3s98.3-44.1 98.3-98.3c0-38.9-22.4-73.3-57.4-89.3zm-81.9-185.9v37.6h-21.6c-.9-4.1-2.5-7.8-4.7-11.2l26.3-26.4zm-57.4 66.1c-11.2 0-20.3-9.1-20.3-20.3 0-11.2 9.1-20.3 20.3-20.3 11.2 0 20.3 9.1 20.3 20.3.1 11.2-9.1 20.3-20.3 20.3zm29.7 1.1c2.8-3.9 4.9-8.4 6.1-13.3h21.6v40.9l-27.7-27.6zm68.6 289.9c-45.2 0-81.9-36.8-81.9-81.9 0-60.6 57.4-78.3 57.4-78.3V43c0-13.6 11-24.6 24.6-24.6 13.6 0 24.6 11 24.6 24.6v290.4s57.4 17 57.4 78.3c-.1 45.2-36.9 81.9-82.1 81.9zM387.1 67.5h41v16.4h-41zM387.1 116.7h24.6v16.4h-24.6z"/><path d="M387.1 215h24.6v16.4h-24.6zM387.1 264.2h41v16.4h-41z"/>
        </symbol>
        <symbol id="icon-logi-10" viewBox="0 0 671 671">
            <title>transport ADR</title>
            <path d="M332.5.5c-.5.2-2.3.6-4 1-2.3.5-41.5 39.1-163.8 161.3C76.2 251.2 3.2 324.8 2.3 326.4c-1.7 3.3-2.2 11.4-1 16.1.6 2.2 45.5 47.7 161.5 163.8 88.4 88.5 162.1 161.6 163.7 162.4 4 2.2 14 2.2 18 0 1.7-.8 75.3-73.9 163.7-162.4 117.1-117.2 160.9-161.6 161.5-163.8.4-1.7.7-4.8.7-7s-.3-5.4-.7-7c-.6-2.2-44.4-46.6-161.5-163.8C419.8 76.2 346.4 3.3 345 2.5c-2.6-1.4-10.7-2.7-12.5-2zm152.8 484.7L335.5 635 185.8 485.3 36 335.5l149.7-149.7L335.5 36l149.7 149.7L635 335.5 485.3 485.2z"/><path d="M158 326.2c-12.3 32.6-23.1 61.4-24.1 64L132 395h38.8l2.9-8.8 3-8.7 24.5-.3 24.5-.2 3.3 9 3.2 9h18.9c10.4 0 18.9-.3 18.9-.8 0-.4-10.7-29.2-23.7-63.9L222.5 267h-42.2L158 326.2zm51.6 0l7.2 21.8h-30.6l7.6-23c4.2-12.7 7.9-22.5 8.1-21.8.2.7 3.7 11.1 7.7 23zM279 330.9V395h33.3c37 0 43.4-.8 56-7.1 22.5-11.1 33.6-30 33.7-57 0-25.3-12.1-45.7-33-55.7-14.5-6.9-19-7.5-56.7-8l-33.3-.4v64.1zm65.7-32.4c9.7 2.9 17.4 10.1 20.9 19.6 1 2.7 1.7 7.6 1.7 12.9.1 11.2-3.1 18.8-11 26-7.6 7-14.6 9-30.9 9H313v-69h13.3c8.9 0 15 .5 18.4 1.5zM418 331v64h34v-42h15.5l10.5 21 10.5 21h39.3L515 371.9l-12.9-23.2 5-2.4c5.7-2.9 12.8-10.4 15.8-16.7 8.1-17.3 4.1-39-9.3-51.4-10.9-9.9-18.2-11.2-62.3-11.2H418v64zm66.9-32.2c4.9 2.4 7.4 6.2 7.4 11.2 0 5-2.5 8.8-7.4 11.2-2.8 1.5-6.1 1.8-18.1 1.8H452v-26h14.8c12 0 15.3.3 18.1 1.8z"/>
        </symbol>
    </defs>
</svg>
